<div class="head-area mt-5 mt-lg-0"></div>
<div class="top-area mb-5 d-lg-flex gap-3 justify-content-between">
  <ul class="d-flex tab-area ps-0 justify-content-around" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link d-center m-0"
        type="button"
        (click)="activeTab = 1"
        [ngClass]="activeTab === 1 ? 'active' : ''"
      >
        My Page
      </button>
    </li>
    <li class="nav-item ms-lg-5" role="presentation">
      <button
        class="nav-link d-center m-0"
        type="button"
        (click)="activeTab = 2"
        [ngClass]="activeTab === 2 ? 'active' : ''"
      >
        Joined Pages
      </button>
    </li>
    <li class="nav-item ms-lg-5" role="presentation">
      <button
        class="nav-link d-center m-0 p-0"
        type="button"
        (click)="activeTab = 3"
        [ngClass]="activeTab === 3 ? 'active' : ''"
      >
        Find Pages
      </button>
    </li>
  </ul>
  <!-- <div class="btn-item">
    <button class="cmn-btn p-2 gap-3 gap-lg-1" (click)="goToFindCommunity()">
      <i class="material-symbols-outlined mat-icon"> workspaces </i>
      Find Community Post
    </button>
  </div> -->
  <div class="btn-item text-center">
    <button
      class="btn btn-sm btn-primary gap-1 d-flex align-items-center m-auto mt-1"
      (click)="createCommunity()"
    >
      <i class="material-symbols-outlined"> add </i>
      Create Page
    </button>
  </div>
</div>
<div class="tab-content">
  <ng-container *ngIf="activeTab === 1">
    <app-my-page></app-my-page>
  </ng-container>
  <ng-container *ngIf="activeTab === 2">
    <app-joined-page></app-joined-page>
  </ng-container>
  <ng-container *ngIf="activeTab === 3">
    <app-page></app-page>
  </ng-container>
</div>
