<div
  class="tab-pane fade show active"
  id="top-tab-pane"
  role="tabpanel"
  aria-labelledby="top-tab"
  tabindex="0"
>
  <div class="row cus-mar friend-request">
    <div class="col-xl-4 col-sm-6 col-8" *ngFor="let event of localEventsList">
      <div class="single-box p-5">
        <div class="avatar-box position-relative">
          <img class="avatar-img w-100" [src]="event.eventImg" alt="avatar" />
          <div
            class="abs-area w-100 position-absolute top-0 p-3 d-center justify-content-between"
          >
            <span class="date-area mdtxt">{{ event.eventDate }}</span>
            <div class="btn-group cus-dropdown dropend">
              <button
                type="button"
                class="dropdown-btn d-center px-2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
              </button>
              <!-- <ul class="dropdown-menu p-4 pt-2">
                <li>
                  <a class="droplist d-flex align-items-center gap-2">
                    <i class="material-symbols-outlined mat-icon">
                      person_remove
                    </i>
                    <span>Unfollow</span>
                  </a>
                </li>
                <li>
                  <a class="droplist d-flex align-items-center gap-2">
                    <i class="material-symbols-outlined mat-icon">
                      hide_source
                    </i>
                    <span>Hide</span>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
        <a
          ><h6 class="m-0 mt-4">
            {{ event.eventName }}
          </h6></a
        >
        <span class="smtxt city-area">Alaska,CA</span>
        <div class="d-center gap-2 mt-4">
          <button class="cmn-btn">interested</button>
          <button class="cmn-btn alt third">Share</button>
        </div>
      </div>
    </div>
  </div>
</div>
