<header class="header-section header-menu">
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container">
      <nav class="navbar w-100 navbar-expand-lg justify-content-betweenm">
        <a routerLink="/home" class="navbar-brand">
          <img src="assets/images/icon.jpg" class="logo" alt="logo" />
        </a>

        <button class="button search-active d-none">
          <i class="d-center material-symbols-outlined fs-xxl mat-icon">
            search
          </i>
        </button>
        <div class="search-form">
          <form action="#" class="input-area d-flex align-items-center">
            <i class="material-symbols-outlined mat-icon me-1">search</i>
            <input type="text" placeholder="Search" autocomplete="off" />
          </form>
        </div>
        <ul
          class="navbar-nav feed flex-row gap-xl-20 gap-lg-10 gap-sm-7 gap-1 py-4 py-lg-0 m-lg-auto ms-auto ms-aut align-self-center"
        >
          <li>
            <a
              routerLink="/"
              class="nav-icon home active"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Home"
              ><i class="mat-icon fs-xxl material-symbols-outlined mat-icon"
                >home</i
              ></a
            >
          </li>
          <li>
            <a
              routerLink="/favorite"
              class="nav-icon feed"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Feed"
              ><i class="mat-icon fs-xxl material-symbols-outlined mat-icon"
                >feed</i
              ></a
            >
          </li>
          <!-- <li>
            <a routerLink="/people/all-friends" class="nav-icon"
              ><i class="mat-icon fs-xxl material-symbols-outlined mat-icon"
                >group</i
              ></a
            >
          </li> -->
          <li>
            <a
              href="https://freedom.social/cmpgm/daily"
              target="_blank"
              class="nav-icon"
              data-toggle="tooltip"
              data-placement="bottom"
              title="FreedomTube"
              ><i class="mat-icon fs-xxl material-symbols-outlined mat-icon"
                >smart_display</i
              ></a
            >
          </li>
          <!-- <li>
            <a routerLink="/login" class="nav-icon"
              ><i class="mat-icon fs-xxl material-symbols-outlined mat-icon"
                >login
                </i
              ></a
            >
          </li>
          <li>
            <a routerLink="/register" class="nav-icon"
              ><i class="mat-icon fs-xxl material-symbols-outlined mat-icon"
                >how_to_reg
                </i
              ></a
            >
          </li> -->
        </ul>
        <div
          class="right-area position-relative d-flex gap-3 gap-xxl-6 align-items-center"
        >
          <div class="single-item d-none d-lg-block messages-area">
            <div class="messages-btn cmn-head">
              <div class="icon-area d-center position-relative">
                <i
                  class="material-symbols-outlined mat-icon"
                  (click)="openMessageList()"
                  >mail</i
                >
              </div>
            </div>
          </div>
          <div
            class="single-item d-none d-lg-block messages-area notification-area"
          >
            <div class="notification-btn cmn-head position-relative">
              <div class="icon-area d-center position-relative">
                <i
                  class="material-symbols-outlined mat-icon"
                  (click)="openNotificationList()"
                  >notifications</i
                >
              </div>
            </div>
          </div>
          <div class="single-item d-none d-lg-block position-relative">
            <!-- profile-area -->
            <div class="profile-pic d-flex align-items-center">
              <span class="avatar cmn-head active-status">
                <img
                  class="avatar-img max-un"
                  [src]="sharedService.profilePic?.url"
                  onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
                  alt="avatar"
                  id="userMenuList"
                  (click)="openUserMenu()"
                />
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </nav>
</header>

<ng-template #userMenuList>
  <div class="main-area p-5 profile-content">
    <div class="head-area">
      <div class="d-flex gap-3">
        <div class="avatar-item">
          <img
            class="avatar-img max-un"
            [src]="sharedService.profilePic?.url"
            onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">{{ sharedService?.userData?.Username }}</h6>
          <p class="mdtxt">Web Developer</p>
        </div>
      </div>
    </div>
    <div class="view-profile my-2">
      <a
        class="mdtxt w-100 text-center py-2"
        (click)="closeMenu($event, 'profile')"
        >View profile</a
      >
    </div>
    <ul class="ps-0">
      <li>
        <a class="mdtxt" (click)="closeMenu($event, 'setting')">
          <i class="material-symbols-outlined mat-icon"> settings </i>
          setting & privacy
        </a>
      </li>
      <li>
        <a class="mdtxt" (click)="closeMenu($event, 'logout')">
          <i class="material-symbols-outlined mat-icon"> power_settings_new </i>
          Sign Out
        </a>
      </li>
      <li>
        <a class="mdtxt" (click)="closeMenu($event, 'change-password')">
          <i class="material-symbols-outlined mat-icon"> lock_reset </i>
          Change Password
        </a>
      </li>
    </ul>
    <div
      class="switch-wrapper mt-4 d-flex gap-1 align-items-center"
      (click)="closeMenu($event, '')"
    >
      <i
        class="mat-icon material-symbols-outlined sun icon"
        [ngClass]="!isDark ? 'active' : ''"
      >
        light_mode
      </i>
      <i
        class="fa-solid fa-toggle-on"
        *ngIf="sharedService.isDark"
        (click)="sharedService.changeLightUi()"
      ></i>
      <i
        class="fa-solid fa-toggle-off"
        *ngIf="!sharedService.isDark"
        (click)="sharedService.changeDarkUi()"
      ></i>
      <!-- <label class="switch">
        <input type="checkbox" class="checkbox" />
        <span class="slider">
        </span>
      </label> -->
      <i
        class="mat-icon material-symbols-outlined moon icon"
        [ngClass]="isDark ? 'active' : ''"
      >
        dark_mode
      </i>
      <span class="mdtxt ms-2">Mode</span>
    </div>
  </div>
</ng-template>

<ng-template #notificationList>
  <div class="main-area p-5 notification-content">
    <h5 class="mb-8">Notification</h5>
    <div class="single-box p-0 mb-7">
      <a class="d-flex justify-content-between align-items-center">
        <div class="left-item position-relative d-inline-flex gap-3">
          <div class="avatar position-relative d-inline-flex">
            <img
              class="avatar-img max-un"
              src="assets/images/avtar/avatar.png"
              alt="avatar"
            />
            <img
              class="abs-item position-absolute max-un"
              src="assets/images/icon/speech-bubble.png"
              alt="icon"
            />
          </div>
          <div class="text-area">
            <h6 class="m-0 mb-1">Piter Maio</h6>
            <p class="mdtxt">Comment on your post</p>
          </div>
        </div>
        <div class="time-remaining">
          <p class="mdtxt">Just now</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a class="d-flex justify-content-between align-items-center">
        <div class="left-item position-relative d-inline-flex gap-3">
          <div class="avatar position-relative d-inline-flex">
            <img
              class="avatar-img max-un"
              src="assets/images/avatar-2.png"
              alt="avatar"
            />
            <img
              class="abs-item position-absolute max-un"
              src="assets/images/icon/emoji-love.png"
              alt="icon"
            />
          </div>
          <div class="text-area">
            <h6 class="m-0 mb-1">Kathryn Murphy</h6>
            <p class="mdtxt">Like your photo</p>
          </div>
        </div>
        <div class="time-remaining">
          <p class="mdtxt">2min</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a class="d-flex justify-content-between align-items-center">
        <div class="left-item position-relative d-inline-flex gap-3">
          <div class="avatar position-relative d-inline-flex">
            <img
              class="avatar-img max-un"
              src="assets/images/avatar-4.png"
              alt="avatar"
            />
            <img
              class="abs-item position-absolute max-un"
              src="assets/images/icon/emoji-love.png"
              alt="icon"
            />
          </div>
          <div class="text-area">
            <h6 class="m-0 mb-1">Kathryn Murphy</h6>
            <p class="mdtxt">officia consequat duis enim...</p>
          </div>
        </div>
        <div class="time-remaining">
          <p class="mdtxt">2hr</p>
        </div>
      </a>
    </div>
    <div class="btn-area">
      <a>See all notification</a>
    </div>
  </div>
</ng-template>

<ng-template #messageList>
  <div class="main-area p-5 messages-content">
    <h5 class="mb-8">Messages</h5>
    <div class="single-box p-0 mb-7">
      <a routerLink="/" class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avatar-7.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <div
            class="title-area position-relative d-inline-flex align-items-center"
          >
            <h6 class="m-0 d-inline-flex">Piter Maio</h6>
            <!-- <span class="abs-area position-absolute d-center mdtxt">3</span> -->
          </div>
          <p class="mdtxt sms">Amet minim mollit non....</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a routerLink="/" class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avtar/avatar.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">Annette Black</h6>
          <p class="mdtxt">You: consequat sunt</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a routerLink="/" class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avatar-2.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">Ralph Edwards</h6>
          <p class="mdtxt sms">Amet minim mollit non....</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avatar-6.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">Jacob Jones</h6>
          <p class="mdtxt">You: consequat sunt</p>
        </div>
      </a>
    </div>
    <div class="btn-area">
      <a>See all inbox</a>
    </div>
  </div>
</ng-template>
