.main-area .view-profile a {
  background-color: var(--box-1st-color);
  color: var(--primary-color);
}

.main-area ul a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
  color: var(--heading-1st-color);
}

.main-area ul li:last-child {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.main-area ul li:first-child {
  /* border-top: 1px solid var(--border-color); */
  border-bottom: 1px solid var(--border-color);
}

.main-area .switch-wrapper .fa-solid {
  font-size: 28px;
  color: var(--primary-color);
  height: 26px;
}

.notification-content {
  /* min-width: 400px; */
}

.notification-content .abs-item {
  bottom: -5px;
  right: -5px;
}

.notification-content .btn-area a {
  color: var(--heading-1st-color);
}

.messages-content .btn-area a {
  color: var(--heading-1st-color);
}

::ng-deep .footer-notification-menu-panale {
  position: fixed;
  right: 315px;
  bottom: 50px;
  top: unset !important;
  display: flex;
}

::ng-deep .footer-user-menu-panale {
  position: fixed;
  right: 315px;
  bottom: 50px;
  top: unset !important;
  display: flex;
}


@media (max-width :990px) {
  ::ng-deep.footer-user-menu-panale {
    position: fixed;
    right: 10px !important;
    bottom: 45px !important;
    top: unset !important;
    display: flex;
  }

  ::ng-deep.footer-message-menu-panale {
    position: fixed;
    left: 10px !important;
    bottom: 45px !important;
    top: unset !important;
    display: flex;
  }

  ::ng-deep.footer-notification-menu-panale {
    position: fixed;
    right: 10px !important;
    left: 10px !important;
    bottom: 45px !important;
    top: unset !important;
    display: flex;
    min-width: unset;
  }
}
