<div
  class="header-menu py-3 header-menu d-block d-lg-none position-fixed bottom-0 w-100 cus-z"
>
  <div
    class="right-area position-relative d-flex justify-content-around gap-3 gap-xxl-6 align-items-center"
  >
    <div class="single-item messages-area">
      <div class="messages-btn cmn-head">
        <div class="icon-area d-center position-relative">
          <i
            class="material-symbols-outlined mat-icon"
            (click)="openMessageList()"
            >mail</i
          >
          <!-- <span class="abs-area position-absolute d-center mdtxt">4</span> -->
        </div>
      </div>
    </div>
    <div class="single-item messages-area notification-area">
      <div class="notification-btn cmn-head position-relative">
        <div class="icon-area d-center position-relative">
          <span
            *ngIf="sharedService.isNotify"
            class="abs-area position-absolute d-center smtxt"
          ></span>
          <i
            class="material-symbols-outlined mat-icon"
            (click)="openNotificationList()"
            >notifications</i
          >
          <!-- <span class="abs-area position-absolute d-center mdtxt">3</span> -->
        </div>
      </div>
    </div>
    <div class="single-item position-relative">
      <div class="profile-pic d-flex align-items-center">
        <span class="avatar cmn-head active-status">
          <img loading="lazy"
            class="avatar-img max-un"
            data-src="{{sharedService.profilePic}}"
            onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
            alt="avatar"
            (click)="openUserMenu()"
          />
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #userMenuList>
  <div class="main-area p-5 profile-content">
    <div class="head-area">
      <div class="d-flex gap-3 align-items-center">
        <div class="avatar-item">
          <img loading="lazy"
            class="avatar-img max-un"
            data-src="{{sharedService.profilePic}}"
            onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">{{ sharedService?.userData?.Username }}</h6>
          <p class="mdtxt">Web Developer</p>
        </div>
      </div>
    </div>
    <div class="view-profile my-2">
      <a
        class="mdtxt w-100 text-center py-2"
        (click)="closeMenu($event, 'profile')"
        >View profile</a
      >
    </div>
    <ul class="ps-0">
      <li>
        <a class="mdtxt" (click)="closeMenu($event, 'setting')">
          <i class="material-symbols-outlined mat-icon"> settings </i>
          setting & privacy
        </a>
      </li>
      <li>
        <a class="mdtxt" (click)="closeMenu($event, 'logout')">
          <i class="material-symbols-outlined mat-icon"> power_settings_new </i>
          Sign Out
        </a>
      </li>
      <li>
        <a class="mdtxt" (click)="closeMenu($event, 'change-password')">
          <i class="material-symbols-outlined mat-icon"> lock_reset </i>
          Change Password
        </a>
      </li>
    </ul>
    <div class="switch-wrapper mt-4 d-flex gap-1 align-items-center">
      <i class="mat-icon material-symbols-outlined sun icon"> light_mode </i>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [checked]="sharedService.isDark"
          (change)="sharedService.toggleUi()"
        />
      </div>

      <i class="mat-icon material-symbols-outlined moon icon"> dark_mode </i>
      <span class="mdtxt ms-2">Dark mode</span>
    </div>
  </div>
</ng-template>

<ng-template #notificationList>
  <div class="main-area p-5 notification-content">
    <h5 class="mb-8">Notification</h5>
    <div
      class="single-box p-0 mb-7"
      *ngFor="let notification of sharedService.notificationList"
    >
      <a
        class="d-flex justify-content-between align-items-center"
        (click)="
          readUnreadNotification(notification.id, 'Y');
          viewUserPost(notification.postId)
        "
      >
        <div class="left-item position-relative d-inline-flex gap-3">
          <div class="avatar position-relative d-inline-flex">
            <img loading="lazy"
              class="avatar-img w-52-px h-52-px rounded-5"
              data-src="{{notification?.ProfilePicName}}"
              alt="avatar"
            />
          </div>
          <div class="text-area">
            <h6 class="m-0 mb-1">{{ notification?.FirstName }}</h6>
            <p class="mdtxt">{{ notification?.notificationDesc }}</p>
          </div>
        </div>
        <div class="time-remaining">
          <p class="mdtxt">Just now</p>
        </div>
      </a>
    </div>
    <div
      class="btn-area"
      *ngIf="sharedService.notificationList.length > 0"
      (click)="userMenusOverlayDialog.close()"
    >
      <a routerLink="/notifications">See all notification</a>
    </div>
  </div>
</ng-template>

<ng-template #messageList>
  <div class="main-area p-5 messages-content">
    <!-- <h5 class="mb-8">Messages</h5> -->
    <h5 class="">Comming soon messages</h5>
    <!-- <div class="single-box p-0 mb-7">
      <a routerLink="/" class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avatar-7.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <div
            class="title-area position-relative d-inline-flex align-items-center"
          >
            <h6 class="m-0 d-inline-flex">Piter Maio</h6>
          </div>
          <p class="mdtxt sms">Amet minim mollit non....</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a routerLink="/" class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avtar/avatar.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">Annette Black</h6>
          <p class="mdtxt">You: consequat sunt</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a routerLink="/" class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avatar-2.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">Ralph Edwards</h6>
          <p class="mdtxt sms">Amet minim mollit non....</p>
        </div>
      </a>
    </div>
    <div class="single-box p-0 mb-7">
      <a class="d-flex gap-2 align-items-center">
        <div class="avatar">
          <img
            class="avatar-img max-un"
            src="assets/images/avatar-6.png"
            alt="avatar"
          />
        </div>
        <div class="text-area">
          <h6 class="m-0 mb-1">Jacob Jones</h6>
          <p class="mdtxt">You: consequat sunt</p>
        </div>
      </a>
    </div> -->
    <!-- <div class="btn-area">
      <a>Comming soon</a>
    </div> -->
  </div>
</ng-template>
