<div class="single-box d-flex flex-column p-5 mb-3">
  <h5 class="mb-4 text-start">Create Local Community</h5>

  <form
    class="row"
    ngNativeValidate
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <!-- <div
        class="alert alert-{{ type }}"
        role="alert"
        *ngIf="registrationMessage || msg"
      >
        {{ registrationMessage || msg }}
      </div> -->
    <div class="col-12 mb-5 d-grid">
      <label class="form-label d-flex">Community Url</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span
            class="input-group-text h-100 border-0"
            id="basic-addon3"
            >{{ originurl }}</span
          >
        </div>
        <input
          type="text"
          class="input-area"
          name="cname"
          [(ngModel)]="communityDetails.CommunityName"
        />
      </div>
    </div>

    <div class="col-6 mb-5 d-grid">
      <label class="form-label text-light text-start">Logo Image</label>
      <ng-container *ngIf="!logoImg">
        <input
          type="file"
          name="logo"
          (change)="selectFiles($event, 'community-logo')"
        />
      </ng-container>
      <img class="w-25" *ngIf="logoImg" [src]="logoImg" alt="" />
    </div>

    <div class="col-6 mb-5 d-grid">
      <label class="form-label text-light text-start">Cover Image</label>
      <ng-container *ngIf="!coverImg">
        <input
          name="cover"
          type="file"
          placeholder="Enter your description"
          (change)="selectFiles($event, 'community-cover')"
        />
      </ng-container>
      <img class="w-50" *ngIf="coverImg" [src]="coverImg" alt="" />
    </div>

    <div class="col-12 mb-5 d-grid">
      <label class="form-label text-light text-start">Community Description</label>

      <textarea
        name="dec"
        cols="30"
        rows="3"
        placeholder="Enter your description"
        [(ngModel)]="communityDetails.CommunityDescription"
      ></textarea>
    </div>

    <div class="col-12 d-flex">
      <button
        class="btn btn-primary ms-auto mt-2"
        type="submit"
        [disabled]="submitted"
      >
        Create Community
      </button>
    </div>
  </form>
</div>
