<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="popular-tab-pane"
    role="tabpanel"
    aria-labelledby="popular-tab"
    tabindex="0"
  >
    <div class="row cus-mar friend-request">
      <div
        class="col-xl-4 col-sm-6"
        *ngFor="let community of popularCommunityList"
      >
        <div class="single-box p-5">
          <div class="avatar-box position-relative">
            <img
              class="avatar-img cover-img w-100"
              [src]="community.coverImg"
              alt="avatar"
            />
            <div
              class="abs-area w-100 position-absolute top-0 p-3 d-center justify-content-end"
            >
              <div class="btn-group cus-dropdown dropend">
                <button
                  type="button"
                  class="dropdown-btn d-center px-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="material-symbols-outlined fs-xxl m-0">
                    more_horiz
                  </i>
                </button>
                <!-- <ul class="dropdown-menu p-4 pt-2">
                  <li>
                    <a class="droplist d-flex align-items-center gap-2">
                      <i class="material-symbols-outlined mat-icon">
                        person_remove
                      </i>
                      <span>Unfollow</span>
                    </a>
                  </li>
                  <li>
                    <a class="droplist d-flex align-items-center gap-2">
                      <i class="material-symbols-outlined mat-icon">
                        hide_source
                      </i>
                      <span>Hide</span>
                    </a>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="abs-avatar-item">
            <img
              class="avatar-img max-un"
              [src]="community.logoImg"
              alt="avatar"
            />
          </div>
          <a
            ><h6 class="m-0 mb-2 mt-3">{{ community.CommunityName }}</h6></a
          >
          <p class="smtxt public-group">{{ community.CommunityDescription }}</p>
          <div class="friends-list d-center mt-3 gap-1 text-center">
            <!-- <ul class="d-center">
              <li *ngFor="let join of community.membersJoin">
                <img [src]="join.profilePic" alt="image" />
              </li>
              <li>
                <img src="assets/images/avatar-3.png" alt="image" />
              </li>
              <li>
                <img src="assets/images/avatar-4.png" alt="image" />
              </li>
            </ul> -->
            <span class="smtxt m-0">{{ community.members }} Member</span>
          </div>
          <div class="d-center btn-border pt-5 gap-2 mt-4">
            <button
              class="cmn-btn fourth"
              (click)="joinCommunity(community.Id)"
            >
              Joined
            </button>
            <button
              class="cmn-btn alt third"
              (click)="goToCommunityDetails(community.Id)"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
