<div class="modal-header border-0">
  <h5 class="text-start">Create Post</h5>
  <i
    class="material-symbols-outlined mat-icon xxltxt"
    (click)="activeModal.close()"
  >
    close
  </i>
</div>
<div class="modal-body text-center">
  <div class="mid-area">
    <div class="d-flex mb-5 gap-3">
      <div class="profile-box">
        <a
          ><img loading="lazy"
            data-src="{{sharedService?.userData?.ProfilePicName}}"
            onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
            class="max-un"
            alt="icon"
        /></a>
      </div>
      <textarea
        cols="10"
        rows="2"
        placeholder="Write something to Lerio.."
        [(ngModel)]="communityPostService.postData.description"
      ></textarea>
    </div>
    <div class="d-inline-grid file-upload">
      <label>Upload attachment</label>
      <label class="file mt-1">
        <input type="file" (change)="selectFiles($event)" />
        <span class="file-custom pt-8 pb-8 d-grid text-center">
          <i class="material-symbols-outlined mat-icon"> perm_media </i>
          <span>Drag here or click to upload photo.</span>
        </span>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-end border-0">
  <button
    id="common-filter-cancel"
    type="button"
    class="cmn-btn alt p-2"
    (click)="activeModal.close(cancelButtonLabel)"
  >
    {{ cancelButtonLabel }}
  </button>
  <button
    id="common-filter-confirm"
    type="button"
    class="cmn-btn p-2"
    (click)="activeModal.close('success')"
  >
    {{ confirmButtonLabel }}
  </button>
</div>
