<div
  class="row profile-picture-area mt-10 justify-content-center mb-15 mb-lg-0"
>
  <div class="col-xl-12 col-lg-8">
    <div class="single-box p-5">
      <div class="col-md-12">
        <div class="upload-single cover-img">
          <div class="profile-picture position-relative text-start">
            <!-- src="/assets/images/profile-cover.png" -->
            <img loading="lazy"
              data-src="{{pageDetails.coverImg}}"
              class="preview-image w-100"
              onerror="this.onerror=null;this.src='/assets/images/profile-cover.png';"
              [alt]="'Preview Image'"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 profile text-start d-flex align-items-center">
            <!-- src="/assets/images/avtar/avtar.png" -->
            <img
              class="preview-image w-100"
              loading="lazy"
              data-src="{{ pageDetails.logoImg }}"
              onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
              [alt]="'Logo Image'"
            />
            <div class="community-details ms-2 d-grid">
              <h5 class="mb-0">
                {{ pageDetails.CommunityName }}
              </h5>
              <span>
                {{ pageDetails?.CommunityDescription }}
              </span>
              <span>{{ pageDetails.members }} member</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="page-details">
            <ul class="nav mt-5 pt-4 flex-wrap gap-2 tab-area">
              <li class="nav-item" role="presentation" (click)="activeTab = 1">
                <a
                  class="nav-link d-center"
                  [ngClass]="activeTab === 1 ? 'active' : ''"
                  >Page Post</a
                >
              </li>
              <!-- <li class="nav-item" role="presentation" (click)="activeTab = 2">
                <a
                  class="nav-link d-center"
                  [ngClass]="activeTab === 2 ? 'active' : ''"
                  >About Community</a
                >
              </li> -->
              <!-- <li class="nav-item" role="presentation" (click)="activeTab = 3">
                <a
                  class="nav-link d-center"
                  [ngClass]="activeTab === 3 ? 'active' : ''"
                  >Community Photos</a
                >
              </li> -->
              <!-- <ng-container *ngIf=""></ng-container> -->
              <li class="nav-item" role="presentation" (click)="activeTab = 2">
                <a
                  class="nav-link d-center"
                  [ngClass]="activeTab === 2 ? 'active' : ''"
                  >Members</a
                >
              </li>
              <!-- <li class="nav-item" role="presentation">
                <a class="nav-link d-center">Connections</a>
              </li> -->
              <!-- <li class="nav-item" role="presentation">
                <a class="nav-link d-center">Events</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="single-box p-3 p-sm-5">
    </div> -->
    <div class="row justify-content-between">
      <div class="col-lg-8 col-12 justify-content-center">
        <ng-container *ngIf="activeTab === 1">
          <!-- <app-post-list [communityId]="communityId"></app-post-list> -->
          <div class="post-item d-flex flex-column gap-5 gap-md-7 mt-3">
            <ng-container *ngFor="let post of pagePostList">
              <div class="post-single-box p-3 p-sm-5" *ngIf="post.description">
                <div class="top-area pb-5">
                  <div class="profile-area d-center justify-content-between">
                    <div class="avatar-item d-flex gap-3 align-items-center">
                      <div class="position-relative">
                        <img loading="lazy"
                          class="post-profile avatar-img max-un"
                          data-src="{{post.ProfilePicName}}"
                          onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
                          alt="avatar"
                        />
                      </div>
                      <div class="info-area">
                        <h6 class="m-0">
                          <a ublic-p>{{ post.FirstName || post.Username }}</a>
                        </h6>
                        <!-- <span class="mdtxt status">Active</span> -->
                      </div>
                    </div>
                    <div class="btn-group cus-dropdown">
                      <button
                        type="button"
                        class="dropdown-btn"
                        (click)="openDropDown(post.Id)"
                      >
                        <i class="material-symbols-outlined fs-xxl m-0">
                          more_horiz
                        </i>
                      </button>
                      <ul
                        class="dropdown-menu p-4 pt-2 mt-6"
                        [ngClass]="postId === post.Id ? 'show' : ''"
                        (mouseleave)="postId = ''"
                      >
                        <ng-container *ngIf="post.profileId == userProfileId">
                          <li>
                            <a
                              class="droplist d-flex align-items-center gap-2"
                              (click)="postId = null"
                            >
                              <i class="material-symbols-outlined mat-icon">
                                edit
                              </i>
                              <span>Edit</span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="droplist d-flex align-items-center gap-2"
                              (click)="postId = null"
                            >
                              <i class="material-symbols-outlined mat-icon">
                                delete
                              </i>
                              <span>Delete</span>
                            </a>
                          </li>
                        </ng-container>
                        <ng-container *ngIf="post.profileId != userProfileId">
                          <li>
                            <a
                              class="droplist d-flex align-items-center gap-2"
                              (click)="postId = null"
                            >
                              <i class="material-symbols-outlined mat-icon">
                                visibility
                              </i>
                              <span>See First</span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="droplist d-flex align-items-center gap-2"
                              (click)="postId = null"
                            >
                              <i class="material-symbols-outlined mat-icon">
                                person_remove
                              </i>
                              <span>Unsubscribe</span>
                            </a>
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                  <div class="py-4">
                    <p
                      class="post-description"
                      [innerHTML]="post.description"
                    ></p>
                  </div>
                  <div class="post-img" *ngIf="post.imageUrl">
                    <img loading="lazy" data-src="{{post.imageUrl}}" class="w-100" alt="image" />
                  </div>
                </div>
                <div
                  class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between"
                >
                  <div
                    class="friends-list d-flex gap-3 align-items-center text-center w-100"
                  ></div>
                </div>
                <div
                  class="like-comment-share py-5 d-center flex-wrap gap-3 gap-md-0 justify-content-between"
                >
                  <!-- (click)="
                  post.react == 'L'
                    ? dislikeFeedPost(post)
                    : reactLikeOnPost(post)
                " -->
                  <button class="d-center gap-1 smtxt like-button">
                    <!-- <i class="material-symbols-outlined mat-icon"> favorite </i> -->
                    <i
                      class="material-symbols-outlined mat-icon"
                      [ngClass]="post.react == 'L' ? 'active' : ''"
                    >
                      thumb_up
                    </i>
                    <span class="mdtxt d-center">{{
                      post?.likescount > 0 ? post?.likescount : 0
                    }}</span>
                  </button>
                  <button
                    class="d-center gap-1 gap-sm-2 mdtxt position-relative reply-button"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Comming Soon!"
                  >
                    <i class="material-symbols-outlined mat-icon"> chat </i>
                    Video Reply
                  </button>
                  <button class="d-center gap-1 gap-sm-2 mdtxt">
                    <i class="material-symbols-outlined mat-icon"> share </i>
                    Share
                  </button>
                </div>
                <!-- <form action="#">
                  <div class="d-flex mt-5 gap-3">
                    <div
                      class="form-content input-area py-1 d-flex gap-2 align-items-center w-100"
                    >
                      <input placeholder="Write a comment.." />
                      <div class="file-input d-flex gap-1 gap-md-2">
                        <div class="file-upload">
                          <label class="file">
                            <input type="file" />
                            <span
                              class="file-custom border-0 d-grid text-center"
                            >
                              <span
                                class="material-symbols-outlined mat-icon m-0 xxltxt"
                              >
                                gif_box
                              </span>
                            </span>
                          </label>
                        </div>
                        <div class="file-upload">
                          <label class="file">
                            <input type="file" />
                            <span
                              class="file-custom border-0 d-grid text-center"
                            >
                              <span
                                class="material-symbols-outlined mat-icon m-0 xxltxt"
                              >
                                perm_media
                              </span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="btn-area d-flex">
                      <button class="cmn-btn px-2 px-sm-5 px-lg-6">
                        <i
                          class="material-symbols-outlined mat-icon m-0 fs-xxl"
                        >
                          near_me
                        </i>
                      </button>
                    </div>
                  </div>
                </form> -->
              </div>
            </ng-container>
            <div *ngIf="!pagePostList.length">
              <h3>No post available</h3>
            </div>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="activeTab === 2">
          <h3>Hello About</h3>
        </ng-container> -->
        <!-- <ng-container *ngIf="activeTab === 3">
          <h3>Hello Photos</h3>
        </ng-container> -->
        <ng-container *ngIf="activeTab === 2">
          <h3>Page Members</h3>
          <div class="row">
            <div class="col-md-6" *ngFor="let member of memberList">
              <div class="single-box member-single p-3">
                <div
                  class="profile-area d-flex w-100 justify-content-between align-items-center"
                >
                  <div class="avatar-item d-flex gap-3 align-items-center">
                    <div class="avatar-item">
                      <img loading="lazy"
                        class="member-profile avatar-img max-un"
                        data-src="
                          {{member.ProfilePicName ||
                          '/assets/images/avtar/placeholder-user.png'}}
                        "
                        onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png'"
                        alt="avatar"
                      />
                    </div>
                    <div class="info-area text-start">
                      <h6 class="m-0">
                        {{ member.FirstName }} {{ member.LastName }}
                      </h6>
                      <p class="mdtxt status mb-0">
                        {{ member.isAdmin === "Y" ? "Admin" : "Member" }}
                      </p>
                    </div>
                  </div>
                  <div
                    class="btn-group cus-dropdown d-flex gap-3"
                    *ngIf="pageDetails.profileId !== member.profileId"
                  >
                    <div ngbDropdown class="d-inline-block">
                      <button class="dropdown-btn" ngbDropdownToggle>
                        <i class="material-symbols-outlined fs-xxl m-0">
                          more_horiz
                        </i>
                      </button>
                      <div ngbDropdownMenu class="dropdown-menu">
                        <ng-container *ngIf="adminList.includes(userProfileId)">
                          <button
                            ngbDropdownItem
                            *ngIf="member.isAdmin === 'N'"
                          >
                            <a
                              class="droplist d-flex align-items-center gap-2"
                              (click)="createCommunityAdmin(member)"
                            >
                              <i class="material-symbols-outlined mat-icon">
                                verified_user
                              </i>
                              <span>Make Community Admin</span>
                            </a>
                          </button>
                          <button
                            ngbDropdownItem
                            *ngIf="member.isAdmin === 'Y'"
                          >
                            <a
                              class="droplist d-flex align-items-center gap-2"
                              (click)="createCommunityAdmin(member)"
                            >
                              <i class="material-symbols-outlined mat-icon">
                                verified_user
                              </i>
                              <span>Make Community Member</span>
                            </a>
                          </button>
                          <!-- <button ngbDropdownItem>
                            <a class="droplist d-flex align-items-center gap-2">
                              <i class="material-symbols-outlined mat-icon">
                                remove
                              </i>
                              <span>Remove</span>
                            </a>
                          </button> -->
                        </ng-container>
                        <button ngbDropdownItem>
                          <a
                            class="droplist d-flex align-items-center gap-2"
                            (click)="goToViewProfile(member.proflieId)"
                          >
                            <i class="material-symbols-outlined mat-icon">
                              person
                            </i>
                            <span>View Profile</span>
                          </a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <table class="table table-striped border rounded-5">
            <thead>
              <tr class="text-center">
                <th class="p-2">No</th>
                <th class="p-2">Username</th>
                <th class="p-2">Join Date</th>
                <th class="p-2">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of memberList; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ member.Username }}</td>
                <td>{{ member.joinDate | date : "dd/MM/YYYY" }}</td>
                <td>{{ member.isAdmin ? "Admin" : "Member" }}</td>
              </tr>
            </tbody>
          </table> -->
        </ng-container>
      </div>

      <div class="col-lg-4 d-none d-md-block justify-content-center">
        <div class="cus-overflow cus-scrollbar sidebar-head d-lg-block d-none">
          <div class="cus-scrollbar side-wrapper">
            <div class="sidebar-wrapper d-flex flex-column gap-6">
              <div class="sidebar-area p-5">
                <div class="dashboard-img">
                  <img
                    class="w-100"
                    src="/assets/images/freedom-dashboard.png"
                  />
                  <span class="mt-3">
                    Get paid to Post, Reactions, Share and View and Refer family
                    and friends to Freedom!
                  </span>
                </div>
                <ul class="list-unstyled fs-11">
                  <li>
                    <span>Posts</span><br /><span class="posts_likes">3</span>
                  </li>
                  <li>
                    <span>Reactions</span><br /><span class="posts_likes"
                      >2</span
                    >
                  </li>
                  <li>
                    <span>Views</span><br /><span class="posts_likes"> 0</span>
                  </li>
                  <li>
                    <span>Comments</span><br /><span class="posts_likes"
                      >0</span
                    >
                  </li>
                  <li>
                    <span>Refferals</span><br /><span class="posts_likes"
                      >0</span
                    >
                  </li>
                </ul>
                <ul class="bg-gray-div list-unstyled fs-11">
                  <li>
                    <span>Posts</span><br /><span class="posts_likes">0</span>
                  </li>
                  <li>
                    <span>Reactions</span><br /><span class="posts_likes"
                      >0</span
                    >
                  </li>
                  <li>
                    <span>Views</span><br /><span class="posts_likes">0</span>
                  </li>
                  <li>
                    <span>Comments</span><br /><span class="posts_likes"
                      >0</span
                    >
                  </li>
                  <li>
                    <span>Refferals</span><br /><span class="posts_likes"
                      >0</span
                    >
                  </li>
                </ul>
                <div class="amount-dashboard d-flex justify-content-around">
                  <span><img src="/assets/images/logo1776.png" /></span
                  ><span class="ml-2">0.8750 </span
                  ><span class="ml-4">3.50</span
                  ><span class="ml-2">(1776)</span>
                </div>
                <div class="dashboard-txt mt-2 mb-3 border p-2">
                  <span>
                    Dashboard only reflects 1776 earned by posting, liking, etc.
                    and does not reflect the 1776 Tokens in your offline wallet.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
