<div
  class="left-sidebar profile-sidebar cus-scrollbar p-5"
  [ngClass]="{
    'mh-100 vh-100': (breakpointService?.screen | async).lg.lessThen
  }"
>
  <div class="profile-pic d-flex gap-2" routerLink="/home">
    <div class="position-relative">
      <img
        class="avatar-img max-un"
        loading="lazy"
        data-src="{{ sharedService?.userData?.ProfilePicName }}"
        onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
        alt="avatar"
      />
    </div>
    <div class="text-area d-flex flex-column justify-content-start">
      <h6 class="m-0 text-ellipsis w-200-px">
        {{ sharedService?.userData?.Username }}
      </h6>
    </div>
  </div>
  <ul class="profile-link m-0 mt-5 p-0 border-bottom-0">
    <li>
      <a
        class="d-flex gap-4"
        routerLink="/communities"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <fa-icon [icon]="['fas', 'network-wired']" class="fs-xxl" />
        <span>Local Communities</span>
      </a>
    </li>
    <li>
      <a
        class="d-flex gap-4"
        routerLink="/pages"
        routerLinkActive="active"
        (click)="closeSidebar()"
      >
        <fa-icon [icon]="['fas', 'layer-group']" class="fs-xxl" />
        <span>Freedom Pages</span>
      </a>
    </li>
    <li>
      <a
        href="https://1776token.com/"
        target="_blank"
        class="d-flex gap-4"
        (click)="closeSidebar()"
      >
        <fa-icon [icon]="['fas', 'link']" class="fs-xxl" />
        <span>1776 Token</span>
      </a>
    </li>
    <li>
      <a
        href="https://localfoods.market/"
        target="_blank"
        class="d-flex gap-4"
        (click)="closeSidebar()"
      >
        <fa-icon [icon]="['fas', 'link']" class="fs-xxl" />
        <span>Local Foods</span>
      </a>
    </li>
    <li>
      <a
        href="https://lamarslist.com/"
        target="_blank"
        class="d-flex gap-4"
        (click)="closeSidebar()"
      >
        <fa-icon [icon]="['fas', 'link']" class="fs-xxl" />
        <span>Lamars List</span>
      </a>
    </li>
    <li>
      <a class="d-flex gap-4" (click)="openWalletPopUp()">
        <fa-icon [icon]="['fas', 'download']" class="fs-xxl" />
        <span>Download 1776 Wallet</span>
      </a>
    </li>
    <li>
      <a class="d-flex gap-4" (click)="openClaimTokenPopUp()">
        <fa-icon [icon]="['fas', 'certificate']" class="fs-xxl" />
        <span>Claim 50 free 1776</span>
      </a>
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <div class="d-flex gap-4 toggle-dropdown" (click)="collapse.toggle()">
        <fa-icon [icon]="['fas', 'gear']" class="fs-xxl" />
        <span class="me-auto">Settings</span>
        <fa-icon [icon]="['fas', collapse.shown ? 'chevron-down' : 'chevron-up']" />
      </div>

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isSettingMenuCollapse">
        <ul class="ps-3">
          <li>
            <a
              routerLink="/settings/see-first-users"
              routerLinkActive="active"
              class="d-flex gap-4"
              (click)="closeSidebar()"
            >
              <fa-icon [icon]="['fas', 'user-plus']" class="fs-xxl" />
              <span>See First Users</span>
            </a>
          </li>

          <li>
            <a
              routerLink="/settings/unsubscribed-users"
              routerLinkActive="active"
              class="d-flex gap-4"
              (click)="closeSidebar()"
            >
              <fa-icon [icon]="['fas', 'user-minus']" class="fs-xxl" />
              <span>Unsubscribed Users</span>
            </a>
          </li>

          <li>
            <a
              routerLink="/settings/delete-profile"
              routerLinkActive="active"
              class="d-flex gap-4"
              (click)="closeSidebar()"
            >
              <fa-icon [icon]="['fas', 'user-xmark']" class="fs-xxl" />
              <span>Delete Account</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="d-lg-none d-block">
      <a class="d-flex gap-4" (click)="openProfileMenuModal()">
        <fa-icon [icon]="['fas', 'user']" class="fs-xxl" />
        <span>Profile</span>
      </a>
    </li>

    <li class="d-lg-none d-block">
      <a class="d-flex gap-4" (click)="openRightSidebar()">
        <fa-icon [icon]="['fas', 'border-all']" class="fs-xxl" />
        <span>Dashboard</span>
      </a>
    </li>
  </ul>
</div>
