<!-- <div class="head-area mt-5 mt-lg-0"></div>
<div class="top-area mb-5 d-lg-flex gap-3 justify-content-between">
  <ul class="d-flex tab-area ps-0 justify-content-around" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link d-center m-0"
        type="button"
        (click)="activeTab = 1"
        [ngClass]="activeTab === 1 ? 'active' : ''"
      >
        My Page
      </button>
    </li>
    <li class="nav-item ms-lg-5" role="presentation">
      <button
        class="nav-link d-center m-0"
        type="button"
        (click)="activeTab = 2"
        [ngClass]="activeTab === 2 ? 'active' : ''"
      >
        Joined Pages
      </button>
    </li>
    <li class="nav-item ms-lg-5" role="presentation">
      <button
        class="nav-link d-center m-0 p-0"
        type="button"
        (click)="activeTab = 3"
        [ngClass]="activeTab === 3 ? 'active' : ''"
      >
        Find Pages
      </button>
    </li>
  </ul>
  <div class="btn-item text-center">
    <button
      class="btn btn-sm btn-primary gap-1 d-flex align-items-center m-auto mt-1"
      (click)="createCommunity()"
    >
      <i class="material-symbols-outlined"> add </i>
      Create Page
    </button>
  </div>
</div>
<div class="tab-content">
  <ng-container *ngIf="activeTab === 1">
    <app-my-page></app-my-page>
  </ng-container>
  <ng-container *ngIf="activeTab === 2">
    <app-joined-page></app-joined-page>
  </ng-container>
  <ng-container *ngIf="activeTab === 3">
    <app-page></app-page>
  </ng-container>
</div> -->

<div class="mb-5 d-flex gap-3 justify-content-between">
  <div class="d-flex flex-column pt-3">
    <h6 class="d-block d-xl-none text-start">Freedom Page</h6>

    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeIdTab"
      (activeIdChange)="getPages()"
      class="nav flex-wrap tab-area"
    >
      <li ngbNavItem="my">
        <button ngbNavLink class="d-flex gap-1">
          My
          <div class="d-none d-xl-block">Page</div>
        </button>
      </li>

      <li ngbNavItem="joined">
        <button ngbNavLink class="d-flex gap-1">
          Joined
          <div class="d-none d-xl-block">Page</div>
        </button>
      </li>

      <li ngbNavItem="local">
        <button ngbNavLink class="d-flex gap-1">
          Find
          <div class="d-none d-xl-block">Page</div>
        </button>
      </li>
    </ul>
  </div>

  <div class="btn-item text-center">
    <button
      class="btn btn-sm btn-primary gap-1 d-flex align-items-center m-auto mt-1"
      (click)="createCommunity()"
    >
      <i class="material-symbols-outlined"> add </i>
      <div class="d-none d-sm-block">Create</div>
      Freedom
      <div class="d-none d-xl-block">Page</div>
    </button>
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let page of pageList">
    <div class="col-12 col-md-6 col-xl-4 pb-6">
      <app-community-card
        [type]="activeIdTab"
        [community]="page"
        (getCommunities)="getPages()"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="!pageList.length">
    <span>No Page found</span>
  </ng-container>
</div>
