<div class="bg-color">
  <nav class="navbar navbar-light bg-white px-10 auth-btns">
    <img
      src="assets/images/landingpage/freedom-buzz.png"
      class="h-60-px"
      alt=""
    />
    <div class="landing-btn">
      <button
        class="btn btn-primary alt third w-80-px"
        routerLink="/login"
        (click)="openLoginPage()"
      >
        Login
      </button>
      <button
        class="btn btn-outline alt third w-80-px ms-2"
        (click)="openSignPage()"
      >
        Signup
      </button>
    </div>
  </nav>

  <div class="text-center py-10">
    <i class="text-white">Worldwide Freedom is the Buzzzz!</i>

    <h4 class="text-white py-4">Local Community Driven</h4>
    <h4 class="text-white">
      Umbrella Platform for All Freedom Based Projects Worldwide
    </h4>
  </div>

  <div class="bg-white">
    <div class="answers_main">
      <div class="d-flex justify-content-center mb-17">
        <img src="/assets/images/landingpage/freedom-tube.png" alt="" />
      </div>
      <h2 class="text-center">WE HAVE ANSWERS</h2>
      <div class="answers_token">
        <img
          alt="answer"
          loading="lazy"
          width="308"
          height="308"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="/assets/images/landingpage/freedomAnswer.png"
        />
        <img
          alt="answer"
          loading="lazy"
          width="308"
          height="308"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="/assets/images/landingpage/localFood.png"
        />
        <img
          alt="answer"
          loading="lazy"
          width="308"
          height="308"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="/assets/images/landingpage/tokens.png"
        />
        <img
          alt="answer"
          loading="lazy"
          width="308"
          height="308"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="/assets/images/landingpage/masterNodesIcon.png"
        />
      </div>
    </div>
  </div>
</div>
