<div class="post-item d-flex flex-column gap-4">
  <ng-container *ngIf="postList?.length > 0;">
    <ng-container *ngFor="let post of postList;let i = index">
      <app-post-card [post]="post" [seeFirstList]="seeFirstList" (onEditPost)="onEditPostData(post, i)" (getPostList)="getPostList()" />
    </ng-container>

    <div
      class="col-12 my-5 text-center"
      *ngIf="parentComponent === 'HomeComponent' && postList.length > 9"
    >
      <button class="cmn-btn alt third fw-600 p-3" (click)="loadMore()">
        Load More
      </button>
    </div>
  </ng-container>
</div>

<ng-template #elseNoCommentsFound>
  <span class="pt-5 m-0 text-start text-secondary">No comments yet!</span>
</ng-template>
