<div class="img-preview rounded-3" [ngClass]="classes">
  <img
    loading="lazy"
    data-src="{{ src }}"
    class="w-100 h-100 rounded-3"
    alt="preview-img"
    onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
  />

  <div
    class="icon-eye d-flex flex-column justify-content-center align-items-center"
    (click)="previewSrc = src"
  >
    <fa-icon [icon]="['fas', 'eye']" class="font-28-px" />
  </div>
</div>

<ng-container *ngIf="previewSrc">
  <div
    class="img-preview-full-screen d-flex flex-column justify-content-center align-items-center p-5"
  >
    <fa-icon [icon]="['fas', 'xmark']" class="c-pointer close-icon font-40-px" (click)="previewSrc = ''" />

    <img
      loading="lazy"
      data-src="{{ src }}"
      class="rounded-3"
      alt="preview-img"
      onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
    />
  </div>
</ng-container>
