<div class="modal-header border-0">
  <h5 class="text-start">Forgot Password</h5>
  <i
    class="material-symbols-outlined mat-icon xxltxt"
    (click)="activeModal.close()"
  >
    close
  </i>
</div>
<div class="modal-body text-center">
  <div class="mid-area">
    <form id="loginForm" class="form-dark" #verifyEmail="ngForm">
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label text-start">New Password</label>
        </div>
        <input
          type="password"
          class="form-control input-area"
          required
          name="password"
          placeholder="Enter Your New Password"
          ngModel
          #password="ngModel"
        />
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label text-light">Confirm Password</label>
        </div>
        <input
          type="password"
          class="form-control input-area"
          required
          placeholder="Enter Password"
          ngModel
          name="confirmPassword"
          #Cpassword="ngModel"
        />
        <div class="invalid-feedback d-block text-start" *ngIf="msg">
          {{ msg }}
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer justify-content-end border-0">
  <button
    id="common-filter-cancel"
    type="button"
    class="cmn-btn alt"
    (click)="activeModal.close(cancelButtonLabel)"
  >
    {{ cancelButtonLabel }}
  </button>
  <button
    id="common-filter-confirm"
    type="button"
    class="cmn-btn"
    (click)="verifyEmailSend(verifyEmail)"
  >
    {{ confirmButtonLabel }}
  </button>
</div>
