<div class="research d-flex gap-6">
  <div class="sidebar">
    <app-research-sidebar />
  </div>

  <div class="content w-100">
    <div class="single-box d-flex flex-column p-5 mb-3">
      <h6 class="text-start mb-5">1776 Token Forum Group</h6>

      <div class="d-flex gap-5 py-5 border-top">
        <div class="d-flex align-items-center gap-1">
          <span class="material-symbols-outlined font-20-px">person</span>
          <span class="font-12-px">clarkzkent</span>
        </div>

        <div class="d-flex align-items-center gap-1">
          <span class="material-symbols-outlined font-20-px">calendar_month</span>
          <span class="font-12-px">Jun 24, 2023</span>
        </div>

        <div class="d-flex align-items-center gap-1">
          <span class="material-symbols-outlined font-20-px">schedule</span>
          <span class="font-12-px">10:30 PM</span>
        </div>

        <div class="d-flex align-items-center gap-1">
          <span class="material-symbols-outlined font-20-px">chat</span>
          <span class="font-12-px">0</span>
        </div>
      </div>

      <div class="d-flex flex-column gap-3">
        <span class="font-12-px text-start">
          Like I reported TEN months ago in my last report: Investing in: #XRP #XLM #XDC #Algorand #Quant ... will earn people fiat currency, but you are in fact investing in your own slavery.
        </span>
        <span class="font-12-px text-start">PayNow goes live in one week, if you are going to buy, I think now is a good time. </span>
      </div>

      <div class="d-flex justify-content-between gap-5 px-5 py-3 mt-5 border-top border-bottom">
        <div class="d-flex align-items-center gap-2 c-pointer">
          <span class="material-symbols-outlined">thumb_up</span>
          <span>0</span>
        </div>

        <div class="d-flex align-items-center gap-2 c-pointer">
          <span class="material-symbols-outlined font-20-px">autorenew</span>
          <span>Revibe</span>
        </div>
      </div>

      <div class="d-flex gap-3 pt-5">
        <img loading="lazy" data-src="/assets/images/avtar/avtar.png" class="w-40-px h-40-px rounded-3" alt="icon" />

        <div class="input-area py-1 px-3 h-40-px d-flex gap-2 align-items-center w-100">
          <input placeholder="Research or comment..." />

          <div class="file-input d-flex gap-1 gap-md-2">
            <i class="material-symbols-outlined mat-icon m-0 font-24-px text-primary" role="button">
              near_me
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
