<h5 class="head-area text-start m-0 pt-1 pb-sm-5 pb-3">General Settings</h5>

<div class="single-box p-sm-5 p-3">
  <div class="row gap-6">
    <div class="col-xxl-2 col-md-3 col-sm-5 col-6 pe-0">
      <div class="upload-single">
        <div class="head-area mb-2 text-start">
          <h6>Profile Image</h6>
        </div>
        <div class="profile-picture text-start">
          <img
            class="preview-image w-100"
            loading="lazy"
            data-src="{{
              customer?.ProfilePicName || sharedService?.profilePic
            }}"
            onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
            alt="Preview Image"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="upload-single cover-img">
        <div class="head-area mb-2 text-start">
          <h6>Cover Image</h6>
        </div>
        <div class="profile-picture text-start">
          <img
            class="preview-image w-100"
            loading="lazy"
            data-src="{{ customer?.CoverPicName || sharedService?.coverPic }}"
            onerror="this.onerror=null;this.src='/assets/images/profile-cover.png';"
            alt="Preview Image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-box text-start p-sm-5 p-3">
  <div class="head-area mb-6">
    <h6>General Information</h6>
  </div>
  <form action="#" class="text-center d-grid gap-4">
    <div class="row">
      <div class="col-sm-6">
        <div class="single-input text-start">
          <label for="name">First Name</label>
          <input
            type="text"
            name="fname"
            class="input-area"
            [(ngModel)]="customer.FirstName"
            disabled
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="single-input text-start">
          <label>Last Name</label>
          <input
            type="text"
            name="lname"
            class="input-area"
            [(ngModel)]="customer.LastName"
            disabled
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="single-input text-start">
          <label>User Name</label>
          <input
            type="text"
            name="email"
            class="input-area"
            [(ngModel)]="customer.Username"
            disabled
          />
        </div>
      </div>
      <div class="col-sm-5 col-3 mt-4 d-center justify-content-end">
        <div class="single-input d-center text-start"></div>
      </div>
    </div>
  </form>
</div>
