<div class="research d-flex flex-column gap-3 z-0">
  <div class="single-box d-flex flex-column p-5 mb-3">
    <h6 class="text-start mb-5">Freedom Messaging</h6>

    <div class="d-flex flex-column border-top pt-5 gap-3">
      <span class="font-12-px text-start"
        >RESEARCH OF TRUTH IS HOW WE UNITE</span
      >
      <span class="font-12-px text-start"
        >UNINFORMED PROGRAMMED FOLKS MUST BE BROUGHT UP TO SPEED</span
      >
      <span class="font-12-px text-start"
        >PLEASE SHARE INFO IN FACEBOOK AND TWITTER, ETC</span
      >
    </div>
  </div>

  <div class="single-box d-flex flex-column p-5 mb-3">
    <h6 class="text-start mb-5">Customize Your Feed</h6>

    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnGroupFeedType"
        [formControl]="btnGroupFeedTypeCtrl"
        value="All"
        id="btnRadioAll"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary border-0 rounded"
        for="btnRadioAll"
        >All</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnGroupFeedType"
        [formControl]="btnGroupFeedTypeCtrl"
        value="Articles"
        id="btnRadioArticles"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary border-0 rounded"
        for="btnRadioArticles"
        >Articles</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnGroupFeedType"
        [formControl]="btnGroupFeedTypeCtrl"
        value="Videos"
        id="btnRadioVideos"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary border-0 rounded"
        for="btnRadioVideos"
        >Videos</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnGroupFeedType"
        [formControl]="btnGroupFeedTypeCtrl"
        value="Groups"
        id="btnRadioGroups"
        autocomplete="off"
      />
      <label
        class="btn btn-outline-primary border-0 rounded"
        for="btnRadioGroups"
        >Groups</label
      >
    </div>

    <ng-container *ngIf="btnGroupFeedTypeCtrl?.value === 'Groups'">
      <select name="research" class="input-area mt-5">
        <option
          *ngFor="let research of researches"
          [value]="research?.FirstName"
        >
          {{ research?.FirstName }}
        </option>
      </select>
    </ng-container>

    <div class="d-flex gap-5 pt-5 mt-5 border-top">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input p-2"
          name="btnGroupViewType"
          type="radio"
          [formControl]="btnGroupViewTypeCtrl"
          id="btnRadioTopStories"
          value="TopStories"
        />
        <label class="form-check-label" for="btnRadioTopStories"
          >Top Stories View</label
        >
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input p-2"
          name="btnGroupViewType"
          type="radio"
          [formControl]="btnGroupViewTypeCtrl"
          id="btnRadioMostRecent"
          value="MostRecent"
        />
        <label class="form-check-label" for="btnRadioMostRecent"
          >Most Recent View</label
        >
      </div>
    </div>
  </div>

  <ng-container *ngIf="groupPosts?.length > 0">
    <ng-container *ngFor="let group of groupPosts">
      <ng-container *ngIf="group?.name && group?.posts?.length > 0">
        <div class="single-box d-flex flex-column p-5 mb-3">
          <div class="d-flex justify-content-between align-items-center mb-5">
            <h6 class="text-start mb-0">{{ group?.name }}</h6>

            <a
              href="/research/detail/grpm/{{ group?.groupUniqueLink }}"
              target="_blank"
              class="material-symbols-outlined c-pointer"
              >chevron_right</a
            >
          </div>

          <ngb-carousel
            [showNavigationIndicators]="false"
            [interval]="0"
            (slide)="getNextPageGroupPostsById($event, group)"
          >
            <ng-container *ngFor="let post of group?.posts; let i = index">
              <ng-container *ngIf="i !== 0 && (i + 1) % pagination.limit === 0">
                <ng-template ngbSlide>
                  <div class="d-flex">
                    <ng-container *ngFor="let revIndex of pagination.limitArray">
                      <div class="flex-fill d-flex flex-column">
                        <app-research-card
                          [post]="group?.posts[i - revIndex]"
                          class="w-100 px-2"
                        />
                      </div>
                    </ng-container>
                  </div>
                </ng-template>
              </ng-container>
            </ng-container>
          </ngb-carousel>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
