<div class="row cus-mar friend-request">
  <div class="col-xl-12">
    <div class="single-box text-start p-5">
      <div class="table-responsive">
        <div class="title-area mb-3">
          <h6>Blocked Member</h6>
        </div>
        <table class="table m-0">
          <tbody>
            <tr *ngFor="let block of blockList">
              <th scope="row">
                <div class="d-flex gap-3 align-items-center">
                  <div class="avatar-item">
                    <img
                      class="avatar-img max-un"
                      loading="lazy"
                      data-src="{{block.profilePic}}"
                      alt="avatar"
                    />
                  </div>
                  <a ublic-p class="text-area">
                    <p class="m-0">{{ block.name }}</p>
                  </a>
                </div>
              </th>
              <td>
                <p class="blocked">Blocked {{ block.blockDate }}</p>
              </td>
              <td>
                <div class="btn-area d-flex justify-content-end gap-3">
                  <button class="cmn-btn">Unblock</button>
                  <button class="d-center cmn-btn alt px-2">
                    <i class="material-symbols-outlined"> delete </i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
