/* .img-upload-card h4 {
  font-size: 18px;
  padding-top: 0px;
  margin-bottom: 15px;
} */
/* .img-upload-card .uploaded-img-div a img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 10px;
} */
.img-upload-card {
  .uploaded-img-div {
    a {
      img {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        margin-right: 20px;
      }
    }

    .image-border {
      border: solid 3px;
      border-color: #14861d;
    }
  }
}

.btn-success {
  width: 120px;
  padding: 6px 10px !important;
  font-size: 16px;
}

.btn-default {
  margin-right: 15px;
  margin-bottom: 0;
  padding: 3px 3px !important;

  &.avtive {
    border: none;
  }

  input {
    width: 168px;
  }
}

h4 {
  font-size: 16px;
  padding-top: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
