<div class="modal-header border-0">
  <h5 class="text-start">Create Community</h5>
  <button>
    <i
      class="material-symbols-outlined mat-icon xxltxt"
      (click)="activeModal.close()"
    >
      close
    </i>
  </button>
</div>

<div class="modal-body text-center">
  <form
    id="loginForm"
    class="form-dark row"
    ngNativeValidate
    autocomplete="off"
  >
    <div class="col-12 mb-5">
      <label class="form-label d-flex"
        >Community Name<span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="input-area"
        name="cname"
        [(ngModel)]="communityDetails.CommunityName"
        placeholder="Enter your community name"
        (keyup)="onCommunityNameChange()"
      />
    </div>

    <div class="col-12 mb-5">
      <label class="form-label d-flex"
        >Community Url<span class="text-danger">*</span></label
      >
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text h-100 border-0 ps-5 pe-0">{{ originUrl }}</span>
        </div>
        <input
          type="text"
          class="input-area ps-1"
          name="cSlug"
          [(ngModel)]="communityDetails.slug"
          placeholder="Enter community url slug"
        />
      </div>
    </div>

    <div class="col-12 mb-5">
      <label class="form-label d-flex">Community Description</label>
      <textarea
        name="dec"
        cols="30"
        rows="3"
        placeholder="Enter your description"
        [(ngModel)]="communityDetails.CommunityDescription"
        required
      ></textarea>
    </div>

    <div class="col-12 col-md-6 mb-5 d-grid">
      <label class="form-label d-flex">Logo Image<span class="text-danger">*</span></label>
      <app-img-picker classes="w-160-px h-160-px" (onFileChange)="onLogoImgChange($event)"/>
    </div>

    <div class="col-12 col-md-6 mb-5 d-grid">
      <label class="form-label d-flex">Cover Image<span class="text-danger">*</span></label>
      <app-img-picker (onFileChange)="onCoverImgChange($event)"/>
    </div>
  </form>
</div>

<div class="modal-footer justify-content-end gap-3 border-0">
  <button
    id="common-filter-cancel"
    type="button"
    class="cmn-btn alt p-2"
    (click)="activeModal.close('Cancel')"
  >
    Cancel
  </button>
  <button
    id="common-filter-confirm"
    type="submit"
    class="cmn-btn p-2"
    [disabled]="!communityDetails"
    (click)="uploadImgAndSubmit()"
  >
    Create
  </button>
</div>
