<div class="main-content">
  <!-- <app-toasts></app-toasts> -->
  <div class="container-fluid px-0">
    <div class="row g-0 min-vh-100">
      <!-- Welcome Text
      ========================= -->
      <!-- <div class="col-md-4">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-5 bg-dark"></div>
          <div
            class="hero-bg hero-bg-scroll"
            style="background-image: url('./images/login-bg-6.jpg')"
          ></div>
          <div class="hero-content mx-auto w-100 h-100">
            <div class="container d-flex flex-column h-100">
              <div class="row g-0">
                <div class="col-11 col-lg-9 mx-auto">
                  <div class="logo mt-5 mb-5">
                    <a class="d-flex" href="index.html" title="Oxyy"
                      ><img src="https://harnishdesign.net/demo/html/oxyy/images/logo-2-light.png" alt="Oxyy"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="row g-0 mt-3">
                <div class="col-11 col-lg-9 mx-auto">
                  <h1 class="text-9 text-white fw-300 mb-5">
                    <span class="fw-500">Welcome</span>, We are glad to see you
                    again!
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Welcome Text End -->

      <!-- Login Form
      ========================= -->
      <div class="login-content d-flex flex-column align-items-center">
        <div class="container my-auto py-5">
          <div class="row g-0">
            <div class="col-11 col-md-8 col-lg-7 col-xl-6 mx-auto">
              <!-- <p class="text-2 mb-5">
                Not a member?
                <a class="fw-500" (click)="goToRegestration()">Register</a>
              </p> -->
              <h3 class="mb-4">Change you password</h3>
              <!-- <div class="d-flex">
                <button
                  type="button"
                  class="btn btn-primary btn-sm fw-400 rounded-3 shadow-none goggle-login"
                >
                  <span class="me-2"><i class="fab fa-google"></i></span
                  ><span class="mx-3 text-2">Log in with Google</span>
                </button>
                <ul
                  class="social-icons d-inline-block social-icons-rounded p-1 ms-2 mb-0"
                >
                  <li class="social-icons-apple mb-0">
                    <a
                      class="bg-dark-4"
                      data-bs-toggle="tooltip"
                      data-bs-original-title="Sign in with apple"
                      ><i class="fab fa-apple"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="d-flex align-items-center my-4">
                <hr class="col-1 bg-dark-4" />
                <span class="mx-3 text-2 text-muted">OR</span>
                <hr class="flex-grow-1 bg-dark-4" />
              </div> -->
              <form
                id="loginForm"
                class="form-dark"
                #changePassword="ngForm"
                novalidate
              >
                <div class="alert alert-{{ type }}" role="alert" *ngIf="msg">
                  {{ msg }}
                </div>
                <div class="mb-3">
                  <label class="form-label text-light">New Password</label>
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="input-area"
                    #newPassword="ngModel"
                    name="newPassword"
                    ngModel
                    id="newPassword"
                    placeholder="Enter New Password"
                    required
                    (ngModelChange)="mustMatch()"
                  />
                </div>
                <div
                  class="invalid-feedback d-block"
                  *ngIf="
                    submitted &&
                    newPassword.errors &&
                    newPassword.errors['required']
                  "
                >
                  New Password is required
                </div>
                <div class="mb-3">
                  <div class="d-flex justify-content-between">
                    <label class="form-label text-light"
                      >Confirm Password</label
                    >
                  </div>
                  <input
                    type="password"
                    class="input-area"
                    id="confirmPassword"
                    name="confirmPassword"
                    ngModel
                    #confirmPassword="ngModel"
                    placeholder="Enter Confirm Password"
                    (ngModelChange)="mustMatch()"
                    required
                  />
                  <div
                    class="invalid-feedback d-block"
                    *ngIf="
                      submitted &&
                      confirmPassword.errors &&
                      confirmPassword.errors['mustmatch']
                    "
                  >
                    Confirm password not match with new password
                  </div>
                  <div
                    class="invalid-feedback d-block"
                    *ngIf="
                      submitted &&
                      confirmPassword.errors &&
                      confirmPassword.errors['required']
                    "
                  >
                    Confirm password is required
                  </div>
                </div>
                <button
                  class="btn btn-primary my-2 login-button"
                  type="submit"
                  (click)="forgotPasswordSubmit(changePassword)"
                >
                  Change Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
    </div>
  </div>
</div>
