:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .post-single-box {
    .dropdown-toggle {
      &::after {
        display: none;
      }
    }

    .post-description {
      line-break: anywhere;
    }

    .post-profile {
      max-width: 48px;
      min-height: 48px;
    }

    .post-message-input, .comment-input {
      font-size: 16px;
      min-height: 56px;

      &[placeholder]:empty {
        &:before {
          content: attr(placeholder);
          color: #697495;
        }
        &:focus {
          &:before {
            content: "";
          }
        }
      }

      .user-dropdown-menu {
        max-height: 300px;
      }
    }

    .comment-input {
      min-height: 24px !important;
    }
  }
}
