:host {
  position: sticky;
  max-height: 90vh;
  top: 100px;

  .cus-scrollbar {
    max-height: calc(100vh - 120px);
    overflow-x: auto;
  }

  .list-unstyled {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 11px;
    text-align: center;
    display: flex;

    li {
      padding: 3px;
      span {
        font-size: 11px;
      }
    }
  }
}
