<!-- #Web View -->
<div class="cus-overflow cus-scrollbar sidebar-head d-lg-block d-none">
  <div class="cus-scrollbar side-wrapper">
    <div class="sidebar-wrapper d-flex flex-column gap-6">
      <div class="sidebar-area p-5">
        <div class="dashboard-img">
          <img class="w-100" src="/assets/images/freedom-dashboard.png" />
          <span class="mt-3">
            Get paid to Post, Reactions, Share and View and Refer family and
            friends to Freedom!
          </span>
        </div>
        <ul class="list-unstyled fs-11 justify-content-around">
          <!-- <li class="d-block m-0">All Time</li> -->
          <li><span>Posts</span><br /><span class="posts_likes">3</span></li>
          <li>
            <span>Reactions</span><br /><span class="posts_likes">2</span>
          </li>
          <li><span>Views</span><br /><span class="posts_likes"> 0</span></li>
          <li><span>Comments</span><br /><span class="posts_likes">0</span></li>
          <!-- <li>
            <span>Refferals</span><br /><span class="posts_likes">0</span>
          </li> -->
        </ul>
        <ul class="bg-gray-div list-unstyled fs-11 justify-content-around">
          <!-- <li class="d-block m-0">Monthly</li> -->
          <li><span>Posts</span><br /><span class="posts_likes">0</span></li>
          <li>
            <span>Reactions</span><br /><span class="posts_likes">0</span>
          </li>
          <li><span>Views</span><br /><span class="posts_likes">0</span></li>
          <li><span>Comments</span><br /><span class="posts_likes">0</span></li>
          <!-- <li>
            <span>Refferals</span><br /><span class="posts_likes">0</span>
          </li> -->
        </ul>
        <div class="amount-dashboard d-flex justify-content-around">
          <span><img src="/assets/images/logo1776.png" /></span
          ><span class="ml-2">0.8750 </span><span class="ml-4">3.50</span
          ><span class="ml-2">(1776)</span>
        </div>
        <div class="dashboard-txt mt-2 mb-3 border p-2">
          <span>
            Dashboard only reflects 1776 earned by posting, liking, etc. and
            does not reflect the 1776 Tokens in your offline wallet.
          </span>
        </div>
      </div>
      <div class="sidebar-area p-5">
        <div class="mb-4">
          <h6 class="d-inline-flex">Local Communities</h6>
        </div>
        <button
          class="cmn-btn p-3"
          *ngIf="user?.AccountType === 'user'"
          (click)="createCommunity()"
        >
          Create Local Community
        </button>
        <button
          class="cmn-btn p-3"
          *ngIf="user?.AccountType !== 'user'"
          (click)="createCommunity()"
        >
          Find Local Community
        </button>
      </div>
    </div>
  </div>
</div>
