<div class="modal-header">
  <h6 class="text-start m-0">{{ title }}</h6>

  <span role="button" class="material-symbols-outlined font-20-px" (click)="activeModal.close('cancel')">
    close
  </span>
</div>

<div class="modal-body text-start">
  <span>{{ message }}</span>
</div>

<div class="modal-footer justify-content-end gap-2">
  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close('cancel')">
    {{ cancelButtonLabel }}
  </button>

  <button type="button" class="btn btn-sm btn-danger" (click)="activeModal.close('success')">
    {{ confirmButtonLabel }}
  </button>
</div>
