<ng-container *ngIf="!isLoginPage && !isSignUpPage && !isResetPasswordPage">
  <app-header></app-header>
  <!-- <router-outlet></router-outlet> -->
  <app-shell></app-shell>
  <app-footer></app-footer>
  <app-toasts></app-toasts>
</ng-container>
<ng-container *ngIf="isLoginPage">
  <app-login></app-login>
</ng-container>
<ng-container *ngIf="isResetPasswordPage">
  <app-reset-password></app-reset-password>
</ng-container>
<ng-container *ngIf="isSignUpPage">
  <app-sign-up></app-sign-up>
</ng-container>
