<!-- <ng-container *ngIf="!isLoginPage && !isSignUpPage && !isResetPasswordPage">
  <app-header></app-header>
  <app-shell></app-shell>
  <app-footer></app-footer>
</ng-container>
<ng-container *ngIf="isLoginPage">
  <app-login></app-login>
</ng-container>
<ng-container *ngIf="isResetPasswordPage">
  <app-reset-password></app-reset-password>
</ng-container>
<ng-container *ngIf="isSignUpPage">
  <app-sign-up></app-sign-up>
</ng-container> -->

<app-shell></app-shell>

<ngx-spinner
  [fullScreen]="false"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<app-toasts></app-toasts>
