<router-outlet />

<ng-container *ngIf="showButton">
  <button
    class="scrollToTop d-none d-lg-flex justify-content-center align-items-center"
    (click)="scrollToTop()"
    [ngClass]="showButton ? 'active' : ''"
  >
    <span class="material-symbols-outlined rotate-90 text-white">
      keyboard_double_arrow_left
    </span>
  </button>
</ng-container>

<app-toasts-container />

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
