<div class="main-content">
  <div class="container-fluid px-0">
    <div class="row g-0 min-vh-100">
      <div class="login-content d-flex flex-column align-items-center">
        <div class="p-10">
          <div class="row">
            <div class="col-lg-6 d-lg-flex d-none align-items-center">
              <div class="m-10 banner-sction">
                <div class="hrero-section">
                  <div class="about-freedom">
                    <h3 class="text-center">
                      INDEPENDENT MEDIA AND MEDIA COMPENSATION PLATFORM
                    </h3>
                    <img src="/assets/images/banner/logo.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 mx-auto">
              <p class="text-2 mb-5">
                Already a member?
                <a class="fw-500" routerLink="/login">Login</a>
              </p>
              <h3 class="mb-4">Register Your Account</h3>
              <form
                id="loginForm"
                class="form-dark"
                ngNativeValidate
                #signInForm="ngForm"
                autocomplete="off"
                (ngSubmit)="signInForm.form.valid && onSubmit()"
              >
                <div
                  class="alert alert-{{ type }}"
                  role="alert"
                  *ngIf="registrationMessage || msg"
                >
                  {{ registrationMessage || msg }}
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">First Name<span>*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      name="fname"
                      placeholder="Enter Your Name"
                      [(ngModel)]="customer.FirstName"
                    />
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">Last Name<span>*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      name="lname"
                      placeholder="Enter Your Name"
                      [(ngModel)]="customer.LastName"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light"
                      >User Name<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="input-area"
                      name="id"
                      placeholder="Enter Your Username Name"
                      [(ngModel)]="customer.Username"
                      required
                    />
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light"
                      >Email Address<span class="text-danger">*</span></label
                    >
                    <input
                      type="email"
                      name="id"
                      class="input-area"
                      required
                      placeholder="Enter your email"
                      [(ngModel)]="customer.Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">Password<span class="text-danger">*</span></label>
                    <input
                      type="password"
                      class="input-area"
                      required
                      name="password"
                      placeholder="Enter your password"
                      (input)="changetopassword($event)"
                      (keyup)="changetopassword($event)"
                      [(ngModel)]="customer.Password"
                    />
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      class="input-area"
                      required
                      name="confirmpassword"
                      placeholder="Enter confirm password"
                      (focusout)="validatepassword()"
                      (input)="changetopassword($event)"
                      (keyup)="changetopassword($event)"
                      [(ngModel)]="confirm_password"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-3">
                    <label class="form-label text-light">Profile Picture<span>*</span></label>
                    <input
                      type="file"
                      name="logo"
                      (change)="selectFiles($event)"
                      required
                    />
                  </div>
                  <!-- <div class="col-12 mb-3">
                    <label class="form-label text-light">Cover Picture</label>
                    <input
                      name="cover"
                      type="file"
                      placeholder="Enter your description"
                      (change)="selectFiles($event)"
                    />
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">Mobile<span>*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      name="mobile"
                      placeholder="Enter your mobile number"
                      [(ngModel)]="customer.MobileNo"
                    />
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">Country<span class="text-danger">*</span></label>
                    <select
                      id="country"
                      required
                      name="country"
                      class="form-control"
                      [(ngModel)]="customer.Country"
                      (change)="changeCountry()"
                    >
                      <option [value]="defaultCountry">United states</option>
                      <option
                        [value]="item.country_code"
                        *ngFor="let item of allCountryData"
                      >
                        {{ item.country }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">Address<span>*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      name="address"
                      placeholder="Enter your address"
                      [(ngModel)]="customer.Address"
                    />
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">Zip Code<span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      required
                      placeholder="Enter your zip code"
                      [disabled]="!customer.Country"
                      [(ngModel)]="customer.Zip"
                      name="zip"
                      #zipCode
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">State<span>*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      required
                      placeholder="Enter your state"
                      disabled
                      name="state"
                      [(ngModel)]="customer.State"
                    />
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <label class="form-label text-light">City<span>*</span></label>
                    <input
                      type="text"
                      class="input-area"
                      required
                      name="city"
                      placeholder="Enter your city"
                      disabled
                      [(ngModel)]="customer.City"
                    />
                  </div>
                </div>

                <div class="form-check ps-0 my-4 d-flex">
                  <input class="p-0" type="checkbox" />
                  <label class="form-check-label ms-2"
                    >I agree to the <a>Terms</a> and
                    <a>Privacy Policy</a>.</label
                  >
                </div>
                <button
                  class="btn btn-primary my-2 login-button"
                  type="submit"
                  [disabled]="submitted"
                >
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
    </div>
  </div>
</div>
