<div class="profile-sidebar cus-scrollbar p-5">
  <a class="d-flex justify-content-between gap-3" (click)="collapse.toggle()" role="button">
    <span class="fw-bold">Freedom Research Topics</span>
    <span class="material-symbols-outlined">{{ isResearchTopicCollapse ? 'expand_more' : 'expand_less'}}</span>
  </a>

  <div class="border-top mt-5 pt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isResearchTopicCollapse">
    <ul class="p-0 m-0">
      <ng-container *ngFor="let research of researches">
        <li>
          <a [routerLink]="'/research/detail/' + research?.hreflink" class="d-flex align-items-center py-3">
            <span class="material-symbols-outlined">chevron_right</span>
            <span class="font-14-px ps-2" >{{research?.name}}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
