<div class="head-area mb-4 mb-lg-5 mt-5 mt-lg-0">
  <h6>Discover Events</h6>
</div>
<div class="top-area mb-5 d-center flex-wrap gap-3 justify-content-between">
  <ul class="nav flex-wrap gap-2 tab-area" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link d-center"
        type="button"
        (click)="activeTab = 1"
        [ngClass]="activeTab === 1 ? 'active' : ''"
      >
        popular
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link d-center"
        type="button"
        (click)="activeTab = 2"
        [ngClass]="activeTab === 2 ? 'active' : ''"
      >
        most-member
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link d-center"
        type="button"
        (click)="activeTab = 3"
        [ngClass]="activeTab === 3 ? 'active' : ''"
      >
        suggested-group
      </button>
    </li>
  </ul>
  <div class="btn-item">
    <a href="event.html" class="cmn-btn gap-1">
      <i class="material-symbols-outlined mat-icon"> add </i>
      Create Event
    </a>
  </div>
</div>
<div class="tab-content">
  <ng-container *ngIf="activeTab === 1">
    <app-popular></app-popular>
  </ng-container>
  <ng-container *ngIf="activeTab === 2">
    <app-members></app-members>
  </ng-container>
  <ng-container *ngIf="activeTab === 3">
    <app-group></app-group>
  </ng-container>
</div>
