<div class="mb-5 d-flex gap-3 justify-content-between">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeIdTab" (activeIdChange)="getCommunities()" class="nav pt-3 flex-wrap tab-area">
    <li ngbNavItem="my">
      <button ngbNavLink>My Community</button>
    </li>

    <li ngbNavItem="joined">
      <button ngbNavLink>Joined Communities</button>
    </li>

    <li ngbNavItem="local">
      <button ngbNavLink>Find Local Communities</button>
    </li>
  </ul>

  <div class="btn-item text-center">
    <button class="btn btn-sm btn-primary gap-1 d-flex align-items-center m-auto mt-1" (click)="createCommunity()">
      <i class="material-symbols-outlined"> add </i>
      Create Local Community
    </button>
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let community of communities">
    <div class="col-md-4 col-sm-6 pb-6">
      <app-community-card [type]="activeIdTab" [community]="community" (getCommunities)="getCommunities()" />
    </div>
  </ng-container>

  <ng-container *ngIf="!communities.length">
    <span>No community found</span>
  </ng-container>
</div>
