<div class="row cus-mar friend-request">
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-1.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Guy Hawkins</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-2.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Jerome Bell</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-3.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Arlene McCoy</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-4.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Darlene Robertson</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-5.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Bessie Cooper</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-6.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Courtney Henry</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-7.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Cody Fisher</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-8.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Ronald Richards</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-9.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Kristin Watson</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-10.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Darrell Steward</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-11.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Annette Black</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-12.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Devon Lane</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-13.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Kathryn Murphy</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-14.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Ralph Edwards</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-15.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Eleanor Pena</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-5 col-sm-6 col-8">
    <div class="single-box p-5">
      <div class="avatar">
        <img
          class="avatar-img w-100"
          src="assets/images/all-friend-img-16.png"
          alt="avatar"
        />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">Esther Howard</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
</div>
