<div class="row cus-mar friend-request">
  <div
    class="col-xxl-3 col-md-5 col-sm-6 col-8"
    *ngFor="let friend of allFriendsList"
  >
    <div class="single-box p-5">
      <div class="avatar">
        <img class="avatar-img w-100" loading="lazy" data-src="{{friend.profilePic}}" alt="avatar" />
      </div>
      <a ublic-p
        ><h6 class="m-0 mb-2 mt-3">{{ friend.name }}</h6></a
      >
      <div class="btn-area mt-3">
        <button class="cmn-btn">Request</button>
      </div>
    </div>
  </div>
</div>
