<div class="modal-header border-0" *ngIf="closeIcon">
  <h5 class="text-start">Add Post Photo/Video</h5>
  <i
    class="material-symbols-outlined mat-icon xxltxt"
    (click)="activeModal.close()"
  >
    close
  </i>
</div>
<div class="modal-body text-center">
  <div class="mid-area">
    <div class="d-flex mb-5 gap-3">
      <div class="profile-box">
        <a 
          ><img
            src="assets/images/add-post-avatar.png"
            class="max-un"
            alt="icon"
        /></a>
      </div>
      <textarea
        cols="10"
        rows="2"
        placeholder="Write something to Lerio.."
      ></textarea>
    </div>
    <div class="file-upload">
      <label>Upload attachment</label>
      <label class="file mt-1">
        <input type="file" />
        <span class="file-custom pt-8 pb-8 d-grid text-center">
          <i class="material-symbols-outlined mat-icon"> perm_media </i>
          <span>Drag here or click to upload photo.</span>
        </span>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-end border-0">
  <button
    id="common-filter-cancel"
    type="button"
    class="cmn-btn alt"
    (click)="activeModal.close(cancelButtonLabel)"
  >
    {{ cancelButtonLabel }}
  </button>
  <button
    id="common-filter-confirm"
    type="button"
    class="cmn-btn"
    (click)="activeModal.close(confirmButtonLabel)"
  >
    {{ confirmButtonLabel }}
  </button>
</div>
