:host {
  position: sticky;
  top: 100px;

  .cus-scrollbar {
    max-height: calc(100vh - 120px);
    overflow-x: auto;
  }

  .profile-content {
    li {
      margin-top: 15px;
    }
  }
  .profile-sidebar {
    cursor: pointer;
    .profile-pic {
      .avatar-img {
        border-radius: 15px;
        min-width: 48px;
        max-width: 48px;
        min-height: 48px;
        max-height: 48px;
      }
    }
  }
}
