<ngx-spinner
  [fullScreen]="false"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div
        class="col-xxl-3 col-xl-3 col-lg-3 col-12 mt-xl-0 d-lg-block"
        *ngIf="!isShowMyProfile"
      >
        <app-my-profile></app-my-profile>
      </div>
      <div
        [ngClass]="
          isShow && isShowMyProfile
            ? ''
            : isShow
            ? 'col-xl-9 col-lg-8 flex-column gap-4 cus-z mb-15 mb-lg-0'
            : 'col-xxl-6 col-xl-6 col-lg-6 mt-0 mt-lg-10 mt-xl-0  flex-column gap-4 cus-z mb-15 mb-lg-0'
        "
      >
        <router-outlet></router-outlet>
      </div>
      <div
        class="col-xxl-3 col-xl-3 col-lg-3 col-12 mt-xl-0 d-lg-block d-none"
        *ngIf="!isShow"
      >
        <app-my-list></app-my-list>
      </div>
    </div>
  </div>
  <ng-container *ngIf="showButton">
    <button
      class="scrollToTop d-none d-lg-block"
      (click)="scrollToTop()"
      [ngClass]="showButton ? 'active' : ''"
    >
      <i class="mat-icon fas fa-angle-double-up"></i>
    </button>
  </ng-container>
</div>
