@media (max-width: 990px) {
  .mobile-view {
    position: relative;
    z-index: -1;
  }
  .main-content {
    .my-profile-sidebar,
    .my-list-sidebar {
      min-width: 300px;
      max-width: 100% !important;
    }
  }
}

.main-content {
  .my-profile-sidebar,
  .my-list-sidebar {
    min-width: 300px;
    max-width: 300px;
  }
}
