<div class="share-post d-flex gap-3 gap-sm-5 p-3 p-sm-5">
  <div class="profile-box">
    <a
      ><img
        [src]="sharedService.profilePic"
        onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
        class="w-56-px h-56-px rounded-3"
        alt="icon"
    /></a>
  </div>
  <form class="w-100 position-relative">
    <input
      placeholder="Write something to post.."
      name="message"
      [(ngModel)]="message"
      autocomplete="off"
      (change)="getLinkData(message)"
      (keyup)="messageOnKeyEvent($event)"
    />

    <div #userSearchDropdownRef ngbDropdown>
      <div ngbDropdownMenu class="h-300-px w-100 overflow-auto">
        <ng-container *ngFor="let user of userList">
          <div
            ngbDropdownItem
            class="d-flex gap-3 pe-auto"
            role="button"
            (click)="selectTagUser(user)"
          >
            <img
              class="w-32-px h-32-px rounded"
              [src]="user.ProfilePicName"
              [alt]="user.Username"
              onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
            />
            <div>{{ user.Username }}</div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- <div class="abs-area position-absolute d-none d-sm-block">
      <i
        class="material-symbols-outlined mat-icon xxltxt"
        (click)="openEmojiMenu()"
      >
        sentiment_satisfied
      </i>
    </div> -->
    <ul
      class="d-flex justify-content-between justify-content-lg-between flex-wrap mt-3 gap-3 ps-0"
    >
      <li
        class="d-flex gap-2 align-items-center"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Comming Soon!"
      >
        <!-- (click)="goLive()" -->
        <!-- <img
          src="assets/images/icon/live-video.png"
          class="max-un"
          alt="icon"
        /> -->
        <i class="material-symbols-outlined mat-icon">stream</i>
        <span>Live</span>
      </li>
      <li
        class="d-flex align-items-center gap-2 pointer-events"
        cursor
        (click)="addPost()"
      >
        <!-- <img src="assets/images/icon/vgallery.png" class="max-un" alt="icon" /> -->
        <i class="material-symbols-outlined mat-icon">add_a_photo</i>
        <span>Photo</span>
      </li>
      <!-- <li class="d-flex align-items-center gap-2" (click)="createPost()">
        <img
          src="assets/images/icon/emoji-laughing.png"
          class="max-un"
          alt="icon"
        />
        <span>Fallings/Activity</span>
      </li> -->
      <div class="btn-area d-flex d-lg-block d-md-block">
        <button
          class="cmn-btn p-2 px-2 px-sm-5 px-lg-6"
          [disabled]="!message"
          (click)="createPost()"
        >
          Post
        </button>
      </div>
    </ul>
  </form>
</div>
<div class="post-item d-flex flex-column gap-1 mt-1" id="news-feed">
  <ng-container *ngFor="let post of postList">
    <!-- @slideUp -->
    <div
      class="post-single-box p-3 p-sm-5 d-flex gap-3"
      *ngIf="!post?.hide && (post?.postdescription || post?.metadescription)"
    >
      <div class="profile-box">
        <img
          class="post-profile avatar-img max-un rounded-5"
          [src]="post.ProfilePicName"
          onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
          alt="avatar"
        />
      </div>
      <div class="top-area w-100">
        <div class="profile-area d-center justify-content-between">
          <div class="avatar-item d-flex align-items-center">
            <div class="position-relative"></div>
            <div class="info-area d-flex align-items-baseline">
              <h6 class="m-0">
                <a ublic-p>{{ post.FirstName }}</a>
              </h6>
              <span class="mdtxt ms-1 username" *ngIf="post.Username"
                >@{{ post.Username | lowercase }}</span
              >
            </div>
          </div>

          <div class="btn-group cus-dropdown">
            <div ngbDropdown class="d-inline-block">
              <button class="dropdown-btn" ngbDropdownToggle>
                <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu">
                <ng-container *ngIf="profileId != post.profileid">
                  <button
                    ngbDropdownItem
                    *ngIf="seeFirstList.includes(post?.profileid)"
                  >
                    <a
                      class="droplist d-flex alig n-items-center gap-2"
                      (click)="removeSeeFirstUser(post?.profileid)"
                    >
                      <i class="material-symbols-outlined mat-icon">
                        visibility
                      </i>
                      <span>Stop see First</span>
                    </a>
                  </button>
                  <button
                    ngbDropdownItem
                    *ngIf="!seeFirstList.includes(post.profileid)"
                  >
                    <a
                      class="droplist d-flex align-items-center gap-2"
                      (click)="seeFirst(post?.profileid)"
                    >
                      <i class="material-symbols-outlined mat-icon">
                        visibility
                      </i>
                      <span>See First</span>
                    </a>
                  </button>
                  <button ngbDropdownItem>
                    <a
                      class="droplist d-flex align-items-center gap-2"
                      (click)="unsubscribe(post)"
                    >
                      <i class="material-symbols-outlined mat-icon">
                        person_remove
                      </i>
                      <span>Unsubscribe</span>
                    </a>
                  </button>
                  <button
                    ngbDropdownItem
                    (click)="goToViewProfile(post.profileid)"
                  >
                    <a class="droplist d-flex align-items-center gap-2">
                      <i class="material-symbols-outlined mat-icon"> person </i>
                      <span>View Profile</span>
                    </a>
                  </button>
                </ng-container>
                <ng-container *ngIf="profileId == post.profileid">
                  <button ngbDropdownItem>
                    <a
                      class="droplist d-flex align-items-center gap-2"
                      (click)="postId = null"
                    >
                      <i class="material-symbols-outlined mat-icon"> edit </i>
                      <span>Edit</span>
                    </a>
                  </button>
                  <button ngbDropdownItem>
                    <a
                      class="droplist d-flex align-items-center gap-2"
                      (click)="deletePost(post)"
                    >
                      <i class="material-symbols-outlined mat-icon"> delete </i>
                      <span>Delete</span>
                    </a>
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <p
          class="post-description mdtxt mb-0"
          [innerHTML]="post.postdescription"
        ></p>
        <ng-container *ngIf="post.metalink">
          <a
            class="post-description mdtxt pt-0 pb-1"
            [href]="post.metalink"
            target="_blank"
            >{{ post.metalink }}</a
          >
        </ng-container>
        <div class="post-img rounded-3" *ngIf="post?.imageUrl">
          <img [src]="post?.imageUrl" class="w-100 rounded-top-3" alt="image" />
        </div>
        <div class="border rounded-3" *ngIf="post?.metaimage">
          <a [href]="post.metalink" target="_blank" class="post-img">
            <img
              [src]="post?.metaimage"
              class="w-100 rounded-top-3"
              alt="image"
            />
            <p class="post-description mdtxt m-2">{{ post?.title }}</p>
            <p class="post-description mdtxt m-2">
              {{ post?.metadescription }}
            </p>
          </a>
        </div>
        <!-- like -->
        <div
          class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between pt-4"
        >
          <!-- <div
            class="like-count-section friends-list d-flex gap-3 align-items-center text-center w-100"
          >
            <ul
              class="d-flex align-items-center justify-content-around mb-0 w-100 ps-0"
            >
              <li
                class="d-flex gap-1"
                (click)="
                  post.react == 'L'
                    ? dislikeFeedPost(post)
                    : reactLikeOnPost(post)
                "
              >
                <i
                  class="material-symbols-outlined mat-icon"
                  [ngClass]="post.react == 'L' ? 'active' : ''"
                >
                  thumb_up
                </i>
                <span class="mdtxt d-center">{{
                  post?.likescount > 0 ? post?.likescount : 0
                }}</span>
              </li>
              <li
                class="d-flex gap-1"
                (click)="
                  post.react == 'LO'
                    ? dislikeFeedPost(post)
                    : reactLoveOnPost(post)
                "
              >
                <i
                  class="material-symbols-outlined mat-icon"
                  [ngClass]="post.react == 'LO' ? 'active' : ''"
                >
                  favorite
                </i>
                <span class="mdtxt d-center">{{
                  post?.lovecount > 0 ? post?.lovecount : 0
                }}</span>
              </li>
              <li
                class="d-flex gap-1"
                (click)="
                  post.react == 'HA'
                    ? dislikeFeedPost(post)
                    : reactHaliriousOnPost(post)
                "
              >
                <i
                  class="material-symbols-outlined mat-icon"
                  [ngClass]="post.react == 'HA' ? 'active' : ''"
                >
                  mood
                </i>
                <span class="mdtxt d-center">{{
                  post?.haliriouscount > 0 ? post?.haliriouscount : 0
                }}</span>
              </li>
              <li
                class="d-flex gap-1"
                (click)="
                  post.react == 'WO'
                    ? dislikeFeedPost(post)
                    : reactWowOnPost(post)
                "
              >
                <i
                  class="material-symbols-outlined mat-icon"
                  [ngClass]="post.react == 'WO' ? 'active' : ''"
                >
                  stars
                </i>
                <span class="mdtxt d-center">{{
                  post?.wowcount > 0 ? post?.wowcount : 0
                }}</span>
              </li>
              <li
                class="d-flex gap-1"
                (click)="
                  post.react == 'SA'
                    ? dislikeFeedPost(post)
                    : reactSadOnPost(post)
                "
              >
                <i
                  class="material-symbols-outlined mat-icon"
                  [ngClass]="post.react == 'SA' ? 'active' : ''"
                >
                  sentiment_dissatisfied
                </i>
                <span class="mdtxt d-center">{{
                  post?.sadcount > 0 ? post?.sadcount : 0
                }}</span>
              </li>
            </ul>
          </div> -->
        </div>
        <div
          class="friends-list like-comment-share p-3 d-center flex-wrap gap-3 gap-md-0 justify-content-between"
        >
          <button
            class="d-center gap-1 smtxt like-button"
            (click)="
              post.react == 'L' ? dislikeFeedPost(post) : reactLikeOnPost(post)
            "
          >
            <i
              class="material-symbols-outlined mat-icon"
              [ngClass]="post.react == 'L' ? 'active' : ''"
            >
              thumb_up
            </i>
            <span class="mdtxt d-center">{{
              post?.likescount > 0 ? post?.likescount : 0
            }}</span>
          </button>
          <button
            class="d-center gap-1 gap-sm-2 mdtxt position-relative reply-button"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Comming Soon!"
          >
            <i class="material-symbols-outlined mat-icon"> chat </i>
            Video Reply
          </button>
          <button
            class="d-center gap-1 gap-sm-2 mdtxt"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Comming Soon!"
          >
            <i class="material-symbols-outlined mat-icon"> share </i>
            Share
          </button>
        </div>
        <!-- <form action="#">
          <div class="d-flex mt-5 gap-3">
            <div class="profile-box d-none d-xxl-block">
              <a
                ><img
                  [src]="sharedService.profilePic"
                  class="max-un"
                  alt="icon"
              /></a>
            </div>
            <div
              class="form-content input-area py-1 d-flex gap-2 align-items-center w-100"
            >
              <input placeholder="Write a comment.." />
              <div class="file-input d-flex gap-1 gap-md-2">
                <div class="file-upload">
                  <label class="file">
                    <input type="file" />
                    <span class="file-custom border-0 d-grid text-center">
                      <span
                        class="material-symbols-outlined mat-icon m-0 xxltxt"
                      >
                        gif_box
                      </span>
                    </span>
                  </label>
                </div>
                <div class="file-upload">
                  <label class="file">
                    <input type="file" />
                    <span class="file-custom border-0 d-grid text-center">
                      <span
                        class="material-symbols-outlined mat-icon m-0 xxltxt"
                      >
                        perm_media
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="btn-area d-flex">
              <button class="cmn-btn px-2 px-sm-5 px-lg-6">
                <i class="material-symbols-outlined mat-icon m-0 fs-xxl">
                  near_me
                </i>
              </button>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </ng-container>
  <div class="col-12 my-5 text-center" *ngIf="postList.length">
    <button class="cmn-btn alt third fw-600 p-3" (click)="loadMore()">
      Load More
    </button>
  </div>
</div>

<ng-template #emojiMenu>
  <emoji-mart
    class="emoji-mart"
    (emojiSelect)="addEmoji($event)"
    title="Pick your emoji…"
    set="google"
  ></emoji-mart>
</ng-template>
