:host {
  display: flex;
  flex-direction: column;

  .img-picker {
    .edit-image {
      position: absolute;
      top: 0;
      left: 0;

      .material-symbols-outlined {
        padding: 16px;
        background-color: #6c757da3;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
        border: 2px solid transparent;
      }

      &:hover {
        .material-symbols-outlined {
          transform: scale(1.2);
          background-color: var(--section-1st-color);
        }
      }
    }
  }
}
