<div class="row profile-picture-area justify-content-center">
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-8">
    <div class="single-box p-3">
      <div class="upload-single">
        <div class="profile-picture text-start">
          <img
            class="preview-image w-100"
            src="assets/images/profile-picture.png"
            alt="Preview Image"
          />
        </div>
        <div class="file-upload">
          <label class="file text-center mt-4">
            <input type="file" />
            <span class="cmn-btn d-center gap-1">
              <i class="material-symbols-outlined mat-icon fs-2"> edit_note </i>
              Change Profile Photo
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8">
    <div class="head-area mb-5">
      <h6>Edit Profile</h6>
    </div>
    <form action="#" class="text-center d-grid gap-4">
      <div class="single-box p-5">
        <div class="col-md-12">
          <div class="upload-single cover-img">
            <div class="head-area mb-2 text-start">
              <h6>Cover Image</h6>
            </div>
            <div class="profile-picture position-relative text-start">
              <img
                class="preview-image w-100"
                src="assets/images/profile-edit-cover.png"
                alt="Preview Image"
              />
              <div class="bottom-0 end-0 file-upload float-lg-end p-4 text-center">
                <label class="file text-start mt-2">
                  <input type="file" />
                  <span class="cmn-btn d-center gap-1">
                    <i class="material-symbols-outlined mat-icon fs-2">
                      edit_note
                    </i>
                    Change Cover Photo
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-box p-3 p-sm-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-input text-start">
              <label for="name">Name</label>
              <div class="input-area second">
                <input
                  type="text"
                  value="Lerio Mao"
                  placeholder="Type name"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single-input text-start">
              <label for="number">Number</label>
              <div class="input-area second">
                <input
                  type="text"
                  value="(316) 555-0116"
                  placeholder="Number"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single-input text-start">
              <label for="Email">Email</label>
              <div class="input-area second">
                <input
                  type="text"
                  value="test@mail.com"
                  placeholder="Email"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single-input text-start">
              <label for="birthday">Birthday</label>
              <div class="input-area second">
                <input
                  type="text"
                  value="31-12-2000"
                  placeholder="birthday"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single-input text-start">
              <label for="address">Address</label>
              <div class="input-area second">
                <input
                  type="text"
                  value="775 Rolling Green Rd."
                  placeholder="address"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single-input text-start">
              <label for="country">Country</label>
              <div class="input-area second">
                <input
                  type="text"
                  value="USA"
                  placeholder="country"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-4">
            <div class="btn-area text-end">
              <button class="cmn-btn">Saved Change</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
