<div class="row profile-picture-area justify-content-center mt-5">
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-8">
    <div class="single-box p-3">
      <div class="upload-single">
        <div class="profile-picture text-start">
          <img
            class="preview-image w-100"
            loading="lazy"
            data-src="{{
              customer.ProfilePicName || sharedService?.profilePic
            }}"
            onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
            alt="Preview Image"
          />
        </div>
        <div class="file-upload">
          <label class="file text-center mt-4">
            <app-upload-files
              [events]="uploadListSubject.asObservable()"
              [isProfile]="true"
              [type]="'profile'"
            ></app-upload-files>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8">
    <div class="head-area mb-5">
      <h6>Edit Profile</h6>
    </div>
    <form action="#" class="text-center d-grid gap-4">
      <div class="single-box p-5">
        <div class="col-md-12">
          <div class="upload-single cover-img">
            <div class="head-area mb-2 text-start">
              <h6>Cover Image</h6>
            </div>
            <div class="profile-picture position-relative text-start">
              <img
                class="preview-image w-100"
                [src]="customer.CoverPicName || sharedService?.coverPic"
                onerror="this.onerror=null;this.src='/assets/images/profile-cover.png';"
                [alt]="coverPic.name || 'Preview Image'"
              />
              <div
                class="bottom-0 end-0 file-upload float-lg-end p-4 text-center"
              >
                <label class="file text-start mt-2">
                  <app-upload-files
                    [events]="uploadListSubject.asObservable()"
                    [isProfile]="false"
                    [type]="'profile-cover'"
                  ></app-upload-files>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-box p-3 p-sm-5">
        <form
          id="loginForm"
          class="form-dark"
          ngNativeValidate
          autocomplete="off"
          (ngSubmit)="updateCustomer()"
        >
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">First Name</label>
              <input
                type="text"
                class="input-area"
                required
                name="fname"
                placeholder="Enter Your Name"
                [(ngModel)]="customer.FirstName"
              />
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">Last Name</label>
              <input
                type="text"
                class="input-area"
                name="lname"
                required
                placeholder="Enter Your Name"
                [(ngModel)]="customer.LastName"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">User Name</label>
              <input
                type="text"
                name="uname"
                class="input-area"
                required
                placeholder="Enter your email"
                [(ngModel)]="customer.Username"
              />
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">Mobile</label>
              <input
                type="text"
                class="input-area"
                required
                name="mobile"
                placeholder="Enter your mobile number"
                [(ngModel)]="customer.MobileNo"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">Country</label>
              <select
                id="country"
                required
                name="country"
                class="input-area w-100"
                [(ngModel)]="customer.Country"
                (change)="changeCountry()"
              >
                <option value="">Select Country</option>
                <option
                  [value]="item.country_code"
                  *ngFor="let item of allCountryData"
                >
                  {{ item.country }}
                </option>
              </select>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">Zip Code</label>
              <input
                type="text"
                class="input-area"
                required
                placeholder="Enter your zip code"
                [disabled]="!customer.Country"
                [(ngModel)]="customer.Zip"
                name="zip"
                #zipCode
              />
            </div>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">State</label>
              <input
                type="text"
                class="input-area"
                required
                placeholder="Enter your state"
                disabled
                name="state"
                [(ngModel)]="customer.State"
              />
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label class="d-flex form-label">City</label>
              <input
                type="text"
                class="input-area"
                required
                name="city"
                placeholder="Enter your city"
                disabled
                [(ngModel)]="customer.City"
              />
            </div>
          </div>
          <button
            class="btn btn-primary my-2 login-button float-end"
            type="submit"
          >
            Edit Profile
          </button>
        </form>
      </div>
    </form>
  </div>
</div>
