<div class="d-flex w-100 gap-5 edit-profile">
  <div class="single-box p-5 mb-5 sidebar-bar d-flex flex-column position-relative w-100">
    <img
      class="profile-img w-100 rounded-3"
      loading="lazy"
      data-src="{{
        profileImg?.url || customer.ProfilePicName || '/assets/images/avtar/avtar.png'
      }}"
      onerror="this.onerror=null;this.src='/assets/images/avtar/avtar.png';"
      alt="Profile Image"
    />

    <div class="edit-image d-flex justify-content-center align-items-center w-100 h-100 c-pointer" (click)="profileImgFileTag.click()" >
      <span class="material-symbols-outlined">
        add_a_photo
      </span>

      <input type="file" #profileImgFileTag hidden class="d-none" accept="image/*" (change)="onProfileImgChange($event)"/>
    </div>
  </div>

  <div class="d-flex flex-column mb-5 w-100">
    <div class="single-box p-5 mb-5 d-flex flex-column position-relative w-100">
      <img
        class="cover-image w-100 rounded-3"
        loading="lazy"
        data-src="{{
          profileCoverImg?.url || customer.CoverPicName || '/assets/images/profile-cover.png'
        }}"
        onerror="this.onerror=null;this.src='/assets/images/profile-cover.png';"
        [alt]="coverPic.name || 'Preview Image'"
      />

      <div class="edit-image d-flex justify-content-center align-items-center w-100 h-100 c-pointer" (click)="profileCoverImgFileTag.click()" >
        <span class="material-symbols-outlined">
          add_a_photo
        </span>

        <input type="file" #profileCoverImgFileTag hidden class="d-none" accept="image/*" (change)="onProfileCoverImgChange($event)"/>
      </div>
    </div>

    <div class="single-box p-5">
      <form
        id="loginForm"
        class="form-dark"
        ngNativeValidate
        autocomplete="off"
        (ngSubmit)="uploadImgAndUpdateCustomer()"
      >
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">First Name</label>
            <input
              type="text"
              class="input-area"
              required
              name="fname"
              placeholder="Enter Your Name"
              [(ngModel)]="customer.FirstName"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Last Name</label>
            <input
              type="text"
              class="input-area"
              name="lname"
              required
              placeholder="Enter Your Name"
              [(ngModel)]="customer.LastName"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">User Name</label>
            <input
              type="text"
              name="uname"
              class="input-area"
              required
              placeholder="Enter your email"
              [(ngModel)]="customer.Username"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Mobile</label>
            <input
              type="text"
              class="input-area"
              required
              name="mobile"
              placeholder="Enter your mobile number"
              [(ngModel)]="customer.MobileNo"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Country</label>
            <select
              id="country"
              required
              name="country"
              class="input-area w-100"
              [(ngModel)]="customer.Country"
              (change)="changeCountry()"
            >
              <option value="">Select Country</option>
              <option
                [value]="item.country_code"
                *ngFor="let item of allCountryData"
              >
                {{ item.country }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Zip Code</label>
            <input
              type="text"
              class="input-area"
              required
              placeholder="Enter your zip code"
              [disabled]="!customer.Country"
              [(ngModel)]="customer.Zip"
              name="zip"
              #zipCode
            />
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">State</label>
            <input
              type="text"
              class="input-area"
              required
              placeholder="Enter your state"
              disabled
              name="state"
              [(ngModel)]="customer.State"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">City</label>
            <input
              type="text"
              class="input-area"
              required
              name="city"
              placeholder="Enter your city"
              disabled
              [(ngModel)]="customer.City"
            />
          </div>
        </div>
        <button
          class="btn btn-primary mt-3 login-button float-end"
          type="submit"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</div>
