<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="popular-tab-pane"
    role="tabpanel"
    aria-labelledby="popular-tab"
    tabindex="0"
  >
    <div class="row cus-mar friend-request">
      <div class="col-md-4 col-sm-6 pb-6" *ngFor="let page of pageList">
        <div class="single-box mb-0 p-5 h-100 d-flex flex-column">
          <div class="avatar-box position-relative">
            <img
              loading="lazy"
              class="avatar-img cover-img w-100 h-160-px"
              data-src="{{ page?.coverImg }}"
              onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-room.png';"
              alt="avatar"
            />
          </div>
          <div
            class="abs-avatar-item"
            (click)="page?.isApprove === 'Y' && goToCommunityDetails(page)"
          >
            <img
              loading="lazy"
              class="w-80-px h-80-px rounded-3"
              data-src="{{ page?.logoImg }}"
              onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
              alt="avatar"
            />
          </div>
          <a
            ><h6 class="m-0 mb-2 mt-3">{{ page.CommunityName }}</h6></a
          >
          <p class="smtxt public-group mb-0">{{ page.CommunityDescription }}</p>
          <div class="friends-list d-center gap-1 text-center">
            <span class="smtxt m-0">{{ page.members }} Members</span>
          </div>
          <div
            class="d-flex justify-content-between align-items-center pt-5 gap-2 mt-auto"
          >
            <button
              class="btn btn-outline-danger alt third w-80-px"
              (click)="deleteCommunity(page.Id)"
            >
              Delete
            </button>
            <button
              *ngIf="page?.isApprove === 'Y'"
              class="btn btn-outline-primary alt third w-80-px"
              (click)="goToCommunityDetails(page)"
            >
              View
            </button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!pageList.length">
        <span>No page found</span>
      </ng-container>
    </div>
  </div>
</div>
